﻿@model Library.Winplus.syslib.standard.customer.model.Customer
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}

<div class="site-content">
  <div class="main-content container">
    <div class="row">
      <div class="col-xs-12">
        @if (Model.Editable){
            <h1 class="main-title" style="padding-left:15px;">@MyResources.Winplus.Resource.EditProfile</h1>
        }else{
            <h1 class="main-title" style="padding-left:15px;">@MyResources.Winplus.Resource.Profile</h1>
        }
      </div>
      <div class="col-xs-12">
          
         <form action="@Url.Content("~/Profile/Save")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',EditProfileCallBack)">

            @Html.HiddenFor(model => model.CustomerId)
            @Html.HiddenFor(model => model.CustomerName)
            @Html.HiddenFor(model => model.AllowReciveEmail)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.FacebookNumber)
            @Html.HiddenFor(model => model.GoogleNumber)
            @Html.HiddenFor(model => model.CustomerTypeId)
            @Html.HiddenFor(model => model.IsConfirmEmail)
            @Html.HiddenFor(model => model.ConfirmEmailDate)
            @Html.HiddenFor(model => model.ForgotPasswordToken)
            @Html.HiddenFor(model => model.LanguageId)
            @Html.HiddenFor(model => model.OmiseCustomerId)
            @Html.HiddenFor(model => model.OrganizationId)
            @Html.HiddenFor(model => model.ActiveStatusId)
             
            <div class="form-group col-sm-12">
                @if (!Model.Editable)
                {
                    <a href="@Url.Content("~/Profile/Edit")">@MyResources.Winplus.Resource.EditProfile</a>
                }
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.FirstName<span class="span-required">*</span></label>
                    <div>
                        @if(Model.Editable){
                            @Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.FirstName),@required=""})
                        }else{
                            @Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.FirstName),@readonly="readonly"})
                        }
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.LastName<span class="span-required">*</span></label>
                    <div>
                        @if(Model.Editable){
                            @Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.LastName),@required=""})
                        }else{
                            @Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.LastName),@readonly="readonly"})
                        }
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.Email<span class="span-required">*</span></label>
                    <div>
                        @if(Model.Editable){
                            @Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Email),@readonly=true,@required=""})
                        }else{
                            @Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Email),@readonly=true})
                        }
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.PhoneNo<span class="span-required">*</span></label>
                        @if(Model.Editable){
                            @Html.TextBoxFor(model=>model.PhoneNo1, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.PhoneNo1),@required=""})
                        }else{
                            @Html.TextBoxFor(model=>model.PhoneNo1, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.PhoneNo1),@readonly=true})
                        }
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.PhoneNo2<span class="span-required">*</span></label>
                    @if(Model.Editable){
                        @Html.TextBoxFor(model=>model.PhoneNo2, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.PhoneNo2),@required=""})
                    }else{
                        @Html.TextBoxFor(model=>model.PhoneNo2, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.PhoneNo2),@readonly=true})
                    }
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label>@MyResources.Winplus.Resource.Currency<span class="span-required">*</span></label>
                    <div>
                        @if(Model.Editable){
                            @Html.DropDownListFor(model => model.CurrencyId, Model.GetSelectedItems("Currency", Model.CurrencyId, ""), new { @class = "form-control",@required="" })
                        }else{
                            @Html.DropDownListFor(model => model.CurrencyId, Model.GetSelectedItems("Currency", Model.CurrencyId, ""), new { @class = "form-control",@required="",@readonly=true })
                        }
                    </div>
                </div>
            </div>
             
            <div class="form-group col-sm-12">
                <div class="form-group">
                     @if(Model.Editable){
                        @Html.CheckBoxFor(model=>model.AllowReciveEmail, new { @class = "form-control i-checks" })
                     }else{
                        @Html.CheckBoxFor(model=>model.AllowReciveEmail, new { @class = "form-control i-checks",disabled = "disabled" })
                     }
                    <label>@MyResources.Winplus.Resource.AllowReciveEmail</label>
                </div>
            </div>

             
            <div class="form-group col-sm-12">
                @if (Model.Editable)
                {
                    <button id="btn-submit" type="submit" class="btn ladda-button btn-primary" data-style="expand-left">@MyResources.Winplus.Resource.Save</button>
                    <button class="btn btn-white" type="button" onclick="CancelEditProfile()();">@MyResources.Winplus.Resource.Cancel</button>
                }
            </div>
        </form>
        <script>
            function EditProfileCallBack(result) {
                if (result.StatusCode == "0") {
                    // Redirect to xx page
                    location.href = "@Url.Content("~/Profile")";
                } else {
                    alert(result.Message);
                }
            }

            function CancelEditProfile() {

                location.href = "@Url.Content("~/Profile")";
            }

            bindingStandardField();
        </script>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .site-content -->
