﻿@model Library.Winplus.syslib.standard.customer.model.Customer
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}

<div class="site-content">
  <div class="main-content container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="main-title">@MyResources.Winplus.Resource.ProfileInfo</h1>
      </div>
      <div class="col-xs-12">
           <a href="@Url.Content("~/Profile/Edit")">@MyResources.Winplus.Resource.Edit</a>
            <div class="form-group">
                First Name: @Model.FirstName
            </div>
                <div class="form-group">
                Last Name: @Model.LastName
            </div>
            <div class="form-group">
                Email: @Model.Email
            </div>
            <div class="form-group">
                Phone No: @Model.PhoneNo1
            </div>
            <div class="form-group">
                Phone No2: @Model.PhoneNo2
            </div>

      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .site-content -->


