﻿@model List<Library.Winplus.syslib.standard.review.model.Review>
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}
<style>
  /* AGILE BOARD */
.sortable-list {
  padding: 10px 0;
}
.agile-list {
  list-style: none;
  margin: 0;
}
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}
.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}
.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}
.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}
.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}
.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}

</style>
<div class="site-content">
  <div class="container">
      <div class="ibox-content m-b-sm border-bottom">
        <div class="p-xs" style="color:#1ab394">
            <div class="pull-left m-r-md">
                <i class="fa fa-user" style="font-size:35px;color:#1ab394"></i>
            </div>
            <h2>&nbsp;@MyResources.Winplus.Resource.Suggestion</h2>
            <span>Feel free to choose topic you're interested in.</span>
        </div>
         <div class="p-xs" style="color:#1ab394;padding-top:10px;padding-bottom:10px;">
            <form action="@Url.Content("~/Review/Add")"
                method="post" onsubmit="ajaxSubmitForm(event,this,'btn-save-review',ReviewResponse);">
                <div class="form-group">
                    <input type="text" name="ReviewInfo" placeholder="Add new task. " class="input input-sm form-control">
                </div>
                <button type="submit" id="btn-save-review" class="btn btn-cta btn-cta-primary ladda-button" data-style="expand-left"><i class="fa fa-plus"></i>@MyResources.Winplus.Resource.Review</button>
            </form>
             <script>
                 function FormatDateDotNet(d) {
                     var day = d.getDate();
                     var month = d.getMonth() + 1;
                     var year = d.getFullYear();
                     return (month <= 9 ? '0' + month : month) + "/" + (day <= 9 ? '0' + day : day) + "/" + year + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                 }

                 function ReviewResponse(data) {
                     try {
                         if (data.StatusCode == "0") {
                             var milli = data.JsonData.CreatedOn.replace(/\/Date\((-?\d+)\)\//, '$1');
                             var d = new Date(parseInt(milli));


                             // Refresh
                             var appendHtml = "<li class=\"warning-element ui-sortable-handle\" id=\"task1\">";
                             
                             appendHtml += data.JsonData.ReviewInfo;
                             appendHtml +="<div class=\"agile-detail\">";
                             appendHtml += "<a href=\"#\" class=\"pull-right btn btn-xs btn-white\">" + data.JsonData.ReviewName + "</a>";
                             appendHtml += "<i class=\"fa fa-clock-o\"></i> " + FormatDateDotNet(d) + "";
                             appendHtml +="</div>";
                             appendHtml += "</li>";

                             $('#todo li:eq(0)').before(appendHtml);

                             document.getElementsByName("ReviewInfo")[0].value = "";
                         } else {
                             alert(data.Message);
                         }
                     } catch (e) {
                         alert(e);
                     }
                 }
            </script>
         </div>
    </div>

    <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
        @foreach (var item in Model)
        {
            <li class="warning-element ui-sortable-handle" id="task1">
                @item.ReviewInfo
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">@item.ReviewName</a>
                    <i class="fa fa-clock-o"></i> @item.CreatedOn
                </div>
            </li>
        }
    </ul>
  </div>
</div>



