﻿@{
    Library.Winplus.syslib.customize.logincustomer.model.LoginCustomer loginCustomer = new Library.Winplus.syslib.customize.logincustomer.repository.LoginCustomerRepository().FindByTokenId(Request, Session.SessionID);


    string GoogleSigninClientId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "GoogleSigninClientId");
    if (string.IsNullOrEmpty(GoogleSigninClientId))
    {
        GoogleSigninClientId = "907378123794-o37k64cibknr4pusfjmqmc3pj0ea485f.apps.googleusercontent.com";
    }

    var Currencies = new Library.Winplus.syslib.standard.currency.repository.CurrencyRepository().GetAllCurrencies();
    var Languages = new Library.Winplus.syslib.standard.language.repository.LanguageRepository().GetAllLanguages();
}

<!DOCTYPE html>
<html>
<head>
  <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/images/favicon.ico")' />
  <meta charset="utf-8">
  <title>AdEzy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
   

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="@GoogleSigninClientId">
    <script src="https://apis.google.com/js/platform.js" async defer></script>   
   
    @Html.Partial("~/Views/_include/_IncludeCss.cshtml")
    
    @Html.Partial("~/Views/_include/_IncludeJs.cshtml")

    <link href="//fonts.googleapis.com/css?family=Prompt:300,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">


@*    <link href="@Url.Content("~/Resource/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Resource/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet">*@
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/header.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/main.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/footer.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/css/adezystyle.css")">


</head>

    <body>
        <div id="masthead" class="site-header">
          <div class="container">
            <div class="site-logo">
              <a href="@Url.Content("~/Home")"><img src="@Url.Content("~/Resource/images/logo.png")"></a>
            </div><!-- .site-logo -->
            <div class="site-callcenter">
              @MyResources.Winplus.Resource.TeamSupport<span class="phone">@MyResources.Winplus.Resource.SupportPhoneNo</span>
            </div><!-- .site-callcenter -->
            @if(@loginCustomer!=null && @loginCustomer.Currency!=null){
                    <div class="site-currency">
                      <a href="#" data-toggle="modal" data-target="#language-modal">
                          <img class="flag" src="@Url.Content("~/Resource/images/flag/"+loginCustomer.Language.LocaleCode.Replace("-","_")+".png")">
                      </a>
                      <a href="#" data-toggle="modal" data-target="#currency-modal">@loginCustomer.Currency.CurrencyCode</a>

                          <div class="modal fade" id="language-modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">All Language</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                     @foreach (var language in Languages)
                                     {
                                        <div class="col-xs-12 col-sm-6">
                                          <a href="javascript:ChangeLanguage(@language.LanguageId);"><img class="flag" src="@Url.Content("~/Resource/images/flag/"+(@language.LocaleCode.Replace("-","_"))+".png")"> @language.LanguageName</a>
                                        </div>
                                     }
                                      <script>
                                          function ChangeLanguage(id) {
                                              var url = "@Url.Content("~/Adezy/ChangeLanguage/")" + id;
                                              ajaxUrlRequest(url, ChangeLanguageResponse);
                                          }

                                          function ChangeLanguageResponse(result) {
                                              if (result.StatusCode == "0") {
                                                  location.href = window.location.href;
                                              } else {
                                                  alert(result.Message);
                                              }
                                          }
                                      </script>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      
                          <div class="modal fade" id="currency-modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">All Currencies</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                     @foreach(var Currencie in Currencies){
                                        <div class="col-xs-12 col-sm-6">
                                          <a href="javascript:ChangeCurrency(@Currencie.CurrencyId)">@Currencie.CurrencyName</a>
                                        </div>
                                     }
                                      <script>
                                          function ChangeCurrency(id) {
                                              var url = "@Url.Content("~/Adezy/ChangeCurrency/")" + id;
                                              ajaxUrlRequest(url, ChangeCurrencyResponse);
                                          }

                                          function ChangeCurrencyResponse(result) {
                                              if (result.StatusCode == "0") {
                                                  location.href = window.location.href;
                                              } else {
                                                  alert(result.Message);
                                              }
                                          }
                                      </script>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div><!-- .site-currency -->
            }
              <style>
                  li .register {
                      margin-top:5px;
                  }
              </style>
              @if(Request.Browser.IsMobileDevice){
              <style>
                  .member-navigation .menu li {
                      float:none;
                      width:auto;
                  }
              </style>
              }
            <nav class="member-navigation">
              <ul class="menu clear">
                <li class="has-submenu">
                  <a href="#" data-toggle="modal" data-target="#help-modal">@MyResources.Winplus.Resource.Help</a>

                  <ul class="sub-menu">
                    <li><a href="@Url.Content("~/Review")">@MyResources.Winplus.Resource.TeamSupport</a></li>
                    <li><a href="@Url.Content("~/Review")">@MyResources.Winplus.Resource.Suggestion</a></li>
                    <li><a href="faq.php">@MyResources.Winplus.Resource.FAQ</a></li>
                  </ul><!-- .sub-menu -->
                </li>
                <li class="register"><a href="@Url.Content("~/ShoppingCart")">@MyResources.Winplus.Resource.ShoppingCart</a></li>
                @if (loginCustomer != null && loginCustomer.Customer!=null && loginCustomer.Customer.CustomerId.HasValue)
                {
                    <li class="register"><a href="@Url.Content("~/Profile")">@MyResources.Winplus.Resource.Profile</a></li>
                    <li class="register"><a href="@Url.Content("~/MyProduct")">@MyResources.Winplus.Resource.YourBillboard</a></li>
                    <li class="register"><a href="@Url.Content("~/Login/Logout")">@MyResources.Winplus.Resource.Logout</a></li>
                }else{
                    <li class="register"><a href="@Url.Content("~/Register")">@MyResources.Winplus.Resource.Register</a></li>
                    <li class="login"><a href="@Url.Content("~/Login")">@MyResources.Winplus.Resource.Login</a></li>
                }
              </ul>
            </nav><!-- .member-navigation -->
          </div><!-- .container -->
        </div><!-- .site-header -->
        <div id="main" class="site-main">
            @RenderBody()
        </div>
        
        @Html.Partial("~/Views/_include/_footer.cshtml");

        <div class="modal fade" id="help-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog"role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@MyResources.Winplus.Resource.Help</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4" style="text-align:center">
                            <img src="@Url.Content("~/images/phone-icon.png")"><div style="color:#54c4c9;text-align:center">@MyResources.Winplus.Resource.TeamSupport <div>@MyResources.Winplus.Resource.SupportPhoneNo</div></div>
                        </div>
                        <div class="col-xs-4" style="text-align:center">
                            <a href="@Url.Content("~/Review")">
                                <img src="@Url.Content("~/images/icon-menu-1.png")"><div style="text-align:center">@MyResources.Winplus.Resource.Suggestion</div>
                            </a>
                        </div>
                        <div class="col-xs-4" style="text-align:center">
                            <a href="@Url.Content("~/Faq")">
                                <img src="@Url.Content("~/images/icon-menu-2.png")")"><div style="text-align:center">@MyResources.Winplus.Resource.FAQ</div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

        </body>
</html>
