﻿
@*@Html.Raw(loc.Resource("page.contactus"))*@

<!-- ******FOOTER****** -->
<footer class="footer" style="background-color:#233645;position:static;">
    <div class="footer-content">
        <div class="container">
            <div class="row has-divider">
                <div class="col-md-12">
                    <div class="footer-col connect col-xs-12 col-md-9">
                        <div class="footer-col-inner col-xs-12 col-md-6 center-block">
                            <ul class="social list-inline">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                            <div class="form-container">
                                <p class="intro">คุณสามารถติดตามอัพเดตข่าวสารล่าสุดกับเราทางอีเมล์</p>
                                <form class="signup-form navbar-form" 
                                    action="@Url.Content("~/Homepage/Subscribe")"
                                    method="post" onsubmit="ajaxSubmitForm(event,this,'btn-save-subscribe',SubscribeResponse);">
                                    <div class="form-group">
                                        <input type="text" name="MemberSubscribeName" class="form-control" placeholder="กรอกอีเมล์">
                                    </div>
                                    <button type="submit" id="btn-save-subscribe" class="btn btn-cta btn-cta-primary ladda-button" data-style="expand-left">ติดตามเรา</button>
                                </form>
                                <script>
                                    function SubscribeResponse(data) {
                                        try {
                                            if (data.StatusCode == "0") {
                                                alert("บันทึกข้อมูลการติดตามเรียบร้อยแล้ว");
                                            } else {
                                                alert(data.Message);
                                            }
                                        } catch (e) {
                                            alert(e);
                                        }
                                    }
                                </script>
                            </div><!--//subscription-form-->
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col contact col-xs-12 col-md-3">
                        <div class="footer-col-inner">
                            <h3 class="title">ติดต่อเรา</h3>
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">Adezy.com.,ltd</span><br>
                                    <span class="region">420 Lardpraw</span><br>
                                    <span class="postal-code">Bangkapi</span><br>
                                    <span class="country-name">BKK 10240</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>Thailand: +66 81 598 1742 <br><i style="width: 26px; display: inline-block;"></i>Indonesia: +61 2 5554 0000</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">support@adezy.com</a></p>
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div>
        </div><!--//container-->
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright center-block text-center">Copyright © 2017 AdEZY.COM</small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
