﻿
<div class="modal inmodal" id="modal-product-info" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn" id="dlg-container">
            
        </div>
    </div>
</div>
<script>

    function ShowProductInfoDialog(ProductId) {
        var url = '@Url.Content("~/Product/dlgInfo/")'+ProductId;
        ajaxPartialLoad(url, "dlg-container", ShowProductInfoDialogResponse)
    }

    function ShowProductInfoDialogResponse(data) {
        $('#modal-product-info').modal('show');
    }

</script>
