﻿@model Library.Winplus.syslib.standard.product.model.Product
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h6 class="modal-title">@Model.ProductName</h6>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align:center;padding-top:15px;">
        <img src="@Url.Content("~/Image/Show/"+Model.MainImageNo)" width="550" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <br />
        <label>@Model.ProductShortDetail</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <br />
          <input type="button" onclick="javascript:GotoShopping(@Model.ProductId);" value="@MyResources.Winplus.Resource.MoreDetailProduct" class="btn btn-secondary"/>
    </div>
</div>
<div class="row">
    <br /><br />
</div>
<script>
    function GotoShopping(ProductId){
        location.href="@Url.Content("~/product/show/")"+ProductId;
    }
</script>