﻿@{
    var lstSuggestLocationGroup = new Library.Winplus.syslib.standard.suggestlocationgroup.repository.SuggestLocationGroupRepository().LoadSuggestion();

    var loc = new Library.Winplus.syslib.customize.helper.service.LocaleStringResourceService();
}
<div class="container">
    <nav class="support-navigation">
      <ul class="menu row">
        <li class="col-xs-3"><a href="@Url.Content("~/Review")"><img src="@Url.Content("~/images/icon-menu-1.png")"><span>@MyResources.Winplus.Resource.Suggestion</span></a></li>
        <li class="col-xs-3"><a href="@Url.Content("~/Faq")"><img src="@Url.Content("~/images/icon-menu-2.png")")"><span>@MyResources.Winplus.Resource.FAQ</span></a></li>
        <li class="col-xs-3"><a href="#"><img src="@Url.Content("~/images/icon-menu-3.png")"><span>@MyResources.Winplus.Resource.TermsAndConditions</span></a></li>
        <li class="col-xs-3"><a href="#"><img src="@Url.Content("~/images/icon-menu-4.png")"><span>@MyResources.Winplus.Resource.PrivacyPolicy</span></a></li>
      </ul><!-- .menu -->
    </nav><!-- .support-navigation -->
  </div><!-- .container -->
<div id="mastfoot" class="site-footer">
  <div class="box-callcenter">
    <i class="fa fa-phone"></i> @MyResources.Winplus.Resource.TeamSupport : @MyResources.Winplus.Resource.SupportPhoneNo
  </div><!-- .box-callcenter -->
  <div class="footer-widget">
    <div class="container">
      <div class="row">

          @foreach (var suggest in lstSuggestLocationGroup)
          {
            <div class="col-xs-12 col-sm-3 footer-menu">
                <h3 class="widget-title">@loc.Resource(suggest.ResourceString)</h3>
                <nav>
                    <ul class="menu">
                        @foreach(var location in suggest.SuggestLocations){
                            <li><a href="@Url.Content("~/Home/InitialSearch?SearchText="+location.SuggestLocationName)">@loc.Resource(location.ResourceString)</a></li>
                        }
                    </ul>
                </nav>
            </div>
          }

          <div class="col-xs-12 col-sm-3 footer-menu">
              <h3 class="widget-title">Social</h3>
              <div class="social" style="margin-top:0px;">
                  <ul class="social">
                      <li><a href="#"><img src="@Url.Content("~/images/icon/facebook.png")"></a></li>
                      <li><a href="#"><img src="@Url.Content("~/images/icon/line.png")"></a></li>
                      <li><a href="#"><img src="@Url.Content("~/images/icon/instagram.png")"></a></li>
                  </ul>
              </div>
          </div>

      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widget -->
  <div class="copyright">
    Adezy
  </div><!-- .copyright -->
</div><!-- .site-footer -->
