﻿@{
    Library.Winplus.syslib.customize.logincustomer.model.LoginCustomer loginCustomer = new Library.Winplus.syslib.customize.logincustomer.repository.LoginCustomerRepository().FindByTokenId(Request, Session.SessionID);
}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/images/favicon.ico")' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <title>AdEzy</title>

    @Html.Partial("~/Views/_include/_IncludeCss.cshtml")

    @Html.Partial("~/Views/_include/_IncludeJs.cshtml")

    <!-- @Server.MapPath("~") -->
</head>
<body id="page-top" class="landing-page">

    @Html.Partial("~/Views/_include/_TopMenu.cshtml")
    <div class="row" style="min-height:400px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top:80px;padding-bottom:30px;">
            @RenderBody()
        </div>
        <div class="col-sm-2"></div>
    </div>

    
    
    @Html.Partial("~/Views/_include/_IncludeCustomJs.cshtml")
    
    @Html.Partial("~/Views/_include/_ContactUs.cshtml")

</body>
</html>
