﻿@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct

<div class="col-xs-12">
  <h1 class="main-title">@MyResources.Winplus.Resource.UploadFileAdvertise</h1>
</div>

<div class="col-xs-12">
    <h2>@Model.Product.ProductName</h2>

    @MyResources.Winplus.Resource.BeginAdvDate: @Model.BeginAdvDateText
    <br />
    @MyResources.Winplus.Resource.EndAdvDate: @Model.EndAdvDateText
    <br />
</div>

<div class="form-group col-sm-12">
    @{
        Library.Winplus.syslib.standard.documentupload.model.DocumentUpload doc = new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload();
        doc.EntityName = "SaleProduct";
        doc.EntityId = Model.SaleProductId;
        doc.Editable = true;
    }
    @Html.Partial("~/Views/documentupload/onepagedocument.cshtml", doc)
</div>

<div class="form-group col-sm-12">
    <button id="btn-back" type="button" class="btn btn-secondary block full-width m-b" onclick="javascript:gotoSearch();">@MyResources.Winplus.Resource.Back</button>
</div>

@Html.Partial("~/Views/documentupload/addeditdialog.cshtml", new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload())


<script>
    function _initialAddEditForm() {
        bindingStandardField();
        SaleProduct_inittbDocumentUpload();
    }
</script>
