﻿@model Library.Winplus.syslib.standard.documentupload.model.DocumentUpload

@Html.HiddenFor(model=>model.EntityId)
@Html.HiddenFor(model=>model.EntityName)
@Html.HiddenFor(model=>model.EntityTempGuid)

<div class="modal-body">
    <div class="row">
        <div class="form-group col-sm-12" style="">
		    <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DocumentTypeId)<span class="span-required">*</span></label>
		    <div class="col-sm-8">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.DocumentTypeId,Model.GetSelectedItems("DocumentType", Model.DocumentTypeId,null,null), new { @class = "form-control",@required="",@Style="width:327px;" ,@Disabled=true })
                    @Html.HiddenFor(model=>model.DocumentTypeId)
                </div>
		    </div>
	    </div>
        <div class="form-group col-sm-12">
		    <label class="col-sm-4 control-label">
                @MyResources.Winplus.Resource.PleaseSelectFile
		    </label>
		    <div class="col-sm-8" id="div-fileupload-field">
                <!-- This field should be change in OpenUploadDocumentDialog method-->
			    <input type="file" id="FileDataUpload" class="form-control" name="FileDataUpload" accept="*" />
		    </div>
	    </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-import-document" class="btn ladda-button btn-primary" data-style="expand-left">Import</button>
</div>