﻿@model Library.Winplus.syslib.standard.documentupload.model.DocumentUpload

<div class="modal inmodal" id="modal-document-upload" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-file-text modal-icon" style="color:#1F6D42;"></i>
                <h4 class="modal-title">Upload Document</h4>
            </div>
            <form id="upload-document-form1" method="post" class="form-horizontal" action="@Url.Content("~/documentupload/Upload")" onsubmit="ajaxSubmitForm(event,this,'btn-import-document',_gotoUpload);" enctype="multipart/form-data">
              

            </form>
        </div>
    </div>
</div>
<script>
    var SuccessCallBack;
    function OpenUploadDocumentDialog(entityName, entityId, tempGuid, successCallBack) {
        SuccessCallBack = successCallBack;
        if (tempGuid == null) {
            tempGuid = "";
        }
        var url = '@Url.Content("~/DocumentUpload/InitialUpload?")'  + "EntityName=" + entityName + "&EntityId=" + entityId + "&EntityTempGuid=" + tempGuid;
        ajaxPartialLoad(url, "upload-document-form1", OpenUploadDocumentDialogResponse)
    }

    function OpenUploadDocumentDialogResponse(data) {
        if (data != null && data != "") {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            $('#modal-document-upload').modal('show');
        } else {
            alert("@MyResources.Winplus.Resource.DocsignAlreadyUpload");
        }
    }

    function _gotoUpload(data, status) {
        if (data.StatusCode == "0") {
            $('#modal-document-upload').modal('hide');
            SuccessCallBack();
        } else {
            alert(data.Message);
        }
    }

</script>
