﻿@model Library.Winplus.syslib.standard.documentupload.model.DocumentUpload

@Html.Partial("~/Views/documentupload/previewpdf_dialog.cshtml",@Model)
@Html.Partial("~/Views/documentupload/previewpng_dialog.cshtml",@Model)
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12" id="@(Model.EntityName)_upload_menu" style="text-align:left;">
            </div>
            <div class="col-sm-12" id="@(Model.EntityName)_list_view">
            </div>
        </div>
        <div class="row" style="padding-left:15px;display:none;">
	        <div class="form-group col-sm-12">
                <table id="@(Model.EntityName)_tbDocumentUpload" class="display nowrap hover table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th style="width:120px;">@MyResources.Winplus.Resource.DocumentType</th>
                            <th style="width:2000px;">@MyResources.Winplus.Resource.DocumentFileName</th>
                            <th style="width:120px;">@MyResources.Winplus.Resource.Remark</th>
                            <th>@MyResources.Winplus.Resource.CreatedOn</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                       

<div style="display:none;" class="@(Model.EntityName)_grid-menu">
    &nbsp; &nbsp;
    @if(Model.Editable){
        
        <button class="btn btn-info btn-circle" type="button" onclick="@(Model.EntityName)_RefreshDocumentUploadGrid();" title="Refresh"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-success btn-circle" type="button" onclick="@(Model.EntityName)_AddDocument();" title="Add"><i class="fa fa-plus"></i></button>
        <button class="btn btn-danger btn-circle" type="button" onclick="@(Model.EntityName)_DeleteDocument();" title="Delete"><i class="fa fa-minus"></i></button>
        <button class="btn btn-secondary btn-circle" type="button" onclick="@(Model.EntityName)_MarkFlagDocument();" title="MainDoc"><i class="fa fa-bookmark-o"></i></button>
    }
</div>

<script>
    var @(Model.EntityName)_visibleDocNo=false;
    var @(Model.EntityName)_columnInfo = [
           { "name": "DocumentUploadId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
           { "name": "", "width": "5px", "data": "DocumentUploadId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "DocumentUploadId", "selectItem"); } },
           { "name": "DocumentTypeId", "data": "DocumentTypeIdDocumentTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
           { "name": "DocumentUploadName", "data": "DocumentUploadName", "render": function (data, type, row, meta) { return @(Model.EntityName)_FormatPreviewDocument(data, type, row, meta); } },
           { "name": "Remark", "data": "Remark", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
           { "name": "CreatedOn","width": "120px", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
         ];
    </script>

<script>
    
    function @(Model.EntityName)_MarkFlagDocument(){
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            if (confirm("Would you like to set image as main?")) {
                ajaxUrlRequest("@Url.Content("~/documentupload/MarkFlagDocument/")" + id, @(Model.EntityName)_MarkFlagDocumentCompleted);
             }
         }
    }

    // Callback after ajax completed
    function @(Model.EntityName)_MarkFlagDocumentCompleted(data) {
        @(Model.EntityName)_RefreshDocumentUploadGrid();
    }

    function @(Model.EntityName)_DeleteDocument(){
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/documentupload/delete?ids=")" + ids, @(Model.EntityName)_DeleteDocumentCompleted);
             }
         }
     }

     // Callback after ajax completed
    function @(Model.EntityName)_DeleteDocumentCompleted(data) {
         @(Model.EntityName)_RefreshDocumentUploadGrid();
     }


    function @(Model.EntityName)_AddDocument() {
         if("@Model.EntityId"=="" && '@Model.EntityTempGuid'==""){
             alert("@MyResources.Winplus.Resource.PleaseSaveDataBeforeUpload");
         }else{
             OpenUploadDocumentDialog("@Model.EntityName", @(Model.EntityId.HasValue ? Model.EntityId.Value : 0),'@Model.EntityTempGuid',@(Model.EntityName)_UploadDocumentSuccess);
         }
     }

     // Callback after form upload completed
    function @(Model.EntityName)_UploadDocumentSuccess(){
         @(Model.EntityName)_RefreshDocumentUploadGrid();
     }

    var @(Model.EntityName)_tbDocumentUpload = null;
    function @(Model.EntityName)_inittbDocumentUpload() {
         @(Model.EntityName)_tbDocumentUpload = $('#@(Model.EntityName)_tbDocumentUpload').DataTable({
             "serverSide": true,
             "bFilter": true,
             "pageLength": 100,
             "bLengthChange": false,
             "columnDefs": [
                { "targets": [0], "orderable": false },
                { "targets": [1], "orderable": false }
             ],
             "order": [[0, "desc"]],
             "ajax": {
                 "url": '@Url.Content("~/documentupload/search?search_EntityName=" + Model.EntityName)'+'&search_EntityId=@(Model.EntityId.HasValue ? Model.EntityId.Value : 0)&search_EntityTempGuid=@Model.EntityTempGuid',
                 "type": "POST",
                 "complete": function (result) {
                     console.log(result.responseJSON);
                     ShowAllImage(result.responseJSON);
                 }
            },
             "columns": @(Model.EntityName)_columnInfo,
            "cache": false,
            fnDrawCallback: function (settings, json) {
               
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkDocumentUploadId').iCheck('check');
                    } else {
                        $('.chkDocumentUploadId').iCheck('uncheck');
                    }
                });
                $('.checkall').iCheck('uncheck');
                HideDataTableTools("@(Model.EntityName)_tbDocumentUpload",false,true,true);
            },
            initComplete: function (settings, json) {
                $("#@(Model.EntityName)_upload_menu").html($(".@(Model.EntityName)_grid-menu").html());
                
            }
        });
    }
    
    function CreateCheckbox(chkName,id) {
        var checkbox = document.createElement("input");
        checkbox.type="CheckBox";
        checkbox.name=chkName;
        checkbox.value=id;
        checkbox.className="chk-selected-doc";
        return checkbox;
    }

    function ShowAllImage(json){
       
        var panel = document.getElementById("@(Model.EntityName)_list_view");
        panel.innerHTML="";

        for(i=0;i<json.data.length;i++){
            var data = json.data[i];
            console.log(data);
            // return "<a href='javascript:@(Model.EntityName)_gotoPreview(" + row["DocumentUploadId"] +",\"" +fileType+ "\");'>" + data+ "</a>";
            var img = document.createElement("img");
            img.height="150";
            img.src="@Url.Content("~/DocumentUpload/Download/")"+data.DocumentUploadId;
            img.onclick=  function(){
                @(Model.EntityName)_gotoPreview(data.DocumentUploadId,'png');
            }
            if(data.PrimaryDocument){
                img.style="border:5px solid red;";
            }else{
                img.style="border:5px solid white;";
            }
            
            var div = document.createElement("div");
            div.className="div-thumbnail";
            div.appendChild(img);
            div.appendChild(CreateCheckbox("selectItem",data.DocumentUploadId));

            var divMain = document.createElement("div");
            divMain.className="col-sm-3 div-main";
            divMain.appendChild(div);

            panel.appendChild(divMain);
        }
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    }

    function @(Model.EntityName)_RefreshDocumentUploadGrid() {
        @(Model.EntityName)_tbDocumentUpload.ajax.reload();
    }

    function @(Model.EntityName)_FormatPreviewDocument(data, type, row, meta) {
        var fileType = "pdf";
        if(row["FileDataFileName"].endsWith("pdf")){
            fileType = "pdf";
        }else{
            fileType = "png";
        }

        if(row["FileDataFileName"]!=null && row["FileDataFileName"]!=""){
            return "<a href='javascript:@(Model.EntityName)_gotoPreview(" + row["DocumentUploadId"] +",\"" +fileType+ "\");'>" + data+ "</a>";
        }else{
            return row["DocumentTypeIdDocumentTypeName"];
        }
       
    }

    function @(Model.EntityName)_gotoPreview(id,type){
        if(type=="pdf"){
            var url = "@Url.Content("~/DocumentUpload/ShowPdf/")" + id;
            window.open(url);
        }else{
            @(Model.EntityName)_PreviewPngDocument("@Url.Content("~/DocumentUpload/Download/")"+id);
        }
    }

</script>
<style>
    .div-main {
        /*padding-left:10px;
        padding-top:10px;
        padding-right:10px;
        padding-bottom:10px;*/
    }
    .div-thumbnail {
        /*background-color:gray;*/
        text-align:center;
        vertical-align:middle;
        position: relative;
        float:left;
    }
    .chk-selected-doc { 
        position: absolute; bottom: 5px; right: 5px;
        width:20px;
        height:20px;
    }
</style>



@*<div class="form-group col-sm-12"> HOW TO ADD TAG
    @{
            Library.Winplus.syslib.standard.documentupload.model.DocumentUpload doc = new Library.Winplus.syslib.standard.documentupload.model.DocumentUpload();
            doc.EntityName = "Product";
            doc.EntityId = Model.ProductId;
            doc.Editable = true;
    }
    @Html.Partial("~/Views/documentupload/onepagedocument.cshtml", doc)
</div>*@