﻿* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 none;
}
*:focus,
*:active {
  outline: 0 none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #272727;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Prompt', sans-serif;
  color: #272727;
}
body {
  font-size: 16px;
  line-height: 1.48;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 15px;
}

small {
  font-weight: normal;
  font-size: 0.5em;
}
a {
  color: #54c4c9;
}

.row-nomargin {
  margin-left: 0;
  margin-right: 0;
}
.remark {
  color: #c00;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn-adezy {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 30px;
  background: #54c4c9;
  color: #fff;
  text-decoration: none;
  border: 0 none;
}
.btn-full {
  width: 100%;
}
.btn-normal {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 20px;
  background: #eee;
  color: #272727;
  text-decoration: none;
  border: 1px solid #ddd;
}
table {
  width: 100%;
}
table td {
  padding-bottom: 10px;
  padding-right: 10px;
}
table td .form-group {
  margin-bottom: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 576px) {
  .container {
    max-width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.rating {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
  float: left;
}
.rating * {
  font-size: 1rem;
}
.rating > input {
  display: none;
}
.rating > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 16px;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 5px;
}
.rating > input + label:before {
  font-family: "FontAwesome";
  display: inline-block;
  text-indent: -9999px;
  content: "\f006";
  color: #888;
  font-size: 16px;
}
.rating > input:checked ~ label:before, .rating > input + label:hover ~ label:before, .rating > input + label:hover:before {
  content: "\f005";
  color: #eecf02;
}
.rating > .star-cb-clear + label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}
.rating > .star-cb-clear + label:before {
  width: 0.5em;
}
.rating:hover > input + label:before {
  content: "\f006";
  color: #888;
  text-shadow: none;
}
.rating:hover > input + label:hover ~ label:before, .rating:hover > input + label:hover:before {
  content: "\f005";
  color: #eecf02;
}

.box-fav,
.box-fav a {
  color: #f00;
}
.box-rating .fa-star {
  color: #eecf02;
}
.box-rating .fa-star-o {
  color: #888;
}

.ui-slider.ui-widget-content {
  border: 0 none;
  border-radius: 0;
  background: #707070;
  height: 2px;
  margin: 20px 0 15px 0;
}
.ui-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -5px;
}
.ui-slider .ui-widget-header {
  background: #eecf02;
}

.ui-widget {
  font-family: 'Prompt', sans-serif;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #54c4c8;
  background: #54c4c8;
}
.ui-state-active .ui-icon.fa,
.ui-button:active .ui-icon.fa,
.ui-state-hover .ui-icon.fa,
.ui-state-focus .ui-icon.fa,
.ui-button:hover .ui-icon.fa,
.ui-button:focus .ui-icon.fa,
.ui-icon.fa,
.ui-widget-content .ui-icon.fa {
  background: none;
  text-indent: 0;
  margin: -1px 5px 0 0;
}

.box-select {
  overflow: hidden;
  background: #eee;
  position: relative;
  border-radius: 5px;
}
.box-select select {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 2px 5px; /* If you add too much padding here, the options won't show in IE */
}
.box-select .dropdown-icon {
  background: #eee;
  height: 29px;
  width: 29px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 0;
}

.pagination {
  margin: 15px 0 30px 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #54c4c8;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
  background-color: #54c4c8;
  border-color: #54c4c8;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover {
  color: #54c4c8;
}

/* Shared */
.box-loginBtn {
  width: 230px;
  margin: 0 auto;
}
.loginBtn {
  width: 230px;
  font-family: sans-serif;
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('images/icon/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('images/icon/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.carousel {
  margin-bottom: 15px;
}
.carousel img {
  width: 100%;
}
.carousel .carousel-wrapper {
  position: relative;
}
.carousel .carousel-control {
  background: none;
  width: 50px;
}
.carousel .carousel-indicators {
  position: static;
  margin: 0;
  width: 100%;
  padding: 15px 0;
}
.carousel .carousel-indicators li {
  text-indent: 0;
  width: 70px;
  height: 70px;
  border-radius: 0;
  border: 3px solid #ccc;
}
.carousel .carousel-indicators .active {
  border: 3px solid #54c4c8;
}

.nav-pills {
  margin-bottom: 15px;
}
.nav-pills li .list-group-item-text {
  padding: 15px 5px;
}
.nav-pills .disabled .list-group-item-text {
  color: #999;
  text-align: center;
}
.nav-pills .active .list-group-item-text {
  background-color: #54c4c8;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.align-top td {
  vertical-align: top;
}

.panel .panel-body .row {
  margin-bottom: 15px;
}

.row-flex, .row-flex > div[class*='col-'] {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}


.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.flex-v-center {
  align-items: center;
  justify-content: center;
}

.margin-b-15 {
  margin-bottom: 15px;
}
.margin-b-30 {
  margin-bottom: 30px;
}