﻿.readonly-wysiwyg 
{
    border:1px solid #F5F5F6;
    padding:5px;
    min-height:50px;
    background-color:#F9F9F9;
}

.nav-link {
    color:blue;
    padding:5px;
}

.nav-link-selected {
    color:red;
    padding:5px;
}

label {
    font-weight:normal;
}

.span-required {
    color:red;
}


.pagination {
  margin: 15px 0 30px 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #54c4c8;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
  background-color: #54c4c8;
  border-color: #54c4c8;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover {
  color: #54c4c8;
}


/*Search Suggestion*/

/*---------- Search ----------*/
.result-bucket li {
    padding: 7px 15px;
}
.instant-results {
    background: #fff;
    width: 200%;
    color: gray;
    position: absolute;
    top: 100%;
    left: 15px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    display: none;
    z-index: 9;
}
.form-search {
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
}
.search-form {
    position: relative;
    max-width: 100%;
}
.result-link {
    color: #4f7593;
}
.result-link .media-body {
    font-size: 13px;
    color: gray;
}
.result-link .media-heading {
    font-size: 15px;
    font-weight: 400;
    color: #4f7593;
}
.result-link:hover,
.result-link:hover .media-heading,
.result-link:hover .media-body {
    text-decoration: none;
    color: #4f7593
}
.result-link .media-object {
    width: 50px;
    padding: 3px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
}
.result-entry + .result-entry {
    border-top:1px solid #ddd;
}
.top-keyword {
    margin: 3px 0 0;
    font-size: 12px;
    font-family: Arial;
}
.top-keyword a {
    font-size: 12px;
    font-family: Arial;
}
.top-keyword a:hover {
    color: rgba(0, 0, 0, 0.7);
}
/* Progress bar for  shopping cart*/
.li-canpick:hover {
    cursor:pointer;
    background-color:#F0F4F5;
}