.support-navigation {
  margin-bottom: 30px;
}
.support-navigation .menu li {
  text-align: center;
}
.support-navigation .menu li a {
  text-decoration: none;
}
.support-navigation .menu li span {
  display: block;
  margin: 5px 0 0;
  color: #272727;
}

@media (min-width: 992px) {
  .support-navigation .menu li a {
    font-size: 1.5em;
  }
}

.box-callcenter {
  background: #d8d8d8;
  padding: 15px 0;
  text-align: center;
}
.box-callcenter .fa {
  color: #54c4c9;
  font-size: 1.5em;
  position: relative;
  top: 5px;
}
@media (min-width: 768px) {
  .box-callcenter {
    padding: 30px 0;
    font-size: 1.5em;
  }
}

.footer-widget {
  padding: 30px 0;
  background: #5d5d5e;
  color: #fff;
}
.footer-widget a {
  color: #fff;
  text-decoration: none;
}
.footer-menu {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-widget .col-1-3 {
    float: left;
    width: 33.3333%;
  }
  .footer-widget .col-2-3 {
    float: left;
    width: 66.6667%;
  }
  .footer-widget .col-3-3 {
    width: 100%;
  }
  .footer-widget .col-1-4 {
    float: left;
    width: 25%;
  }
  .footer-widget .col-2-4 {
    float: left;
    width: 50%;
  }
  .footer-widget .col-3-4 {
    float: left;
    width: 75%;
  }
  .footer-widget .col-4-4 {
    width: 100%;
  }
}

.footer-widget .widget-title {
  margin: 0 0 5px;
}
.footer-widget .social {
  margin-top: 30px;
}
.footer-widget .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-widget .social ul li {
  display: inline-block;
}

.copyright {
  padding: 10px 0;
  background: #272727;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
}

.seller-footer .footer-widget .social {
  margin-top: 0;
}