﻿@model List<Library.Winplus.syslib.standard.faqcategory.model.FAQCategory>
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}
<div class="site-content">
  <div class="container">
    <h2 class="main-title">@MyResources.Winplus.Resource.FAQTitle</h2>
    <h5 class="sub-title">@MyResources.Winplus.Resource.FAQSubTitle</h5>
        <div class="panel-group" id="accordion">
            @foreach (var cat in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@cat.FAQCategoryId">@cat.FAQCategoryName</a>
                        </h5>
                    </div>
                    <div id="collapse_@cat.FAQCategoryId" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach(var faq in cat.LstFAQTopic){
                                <div class="faq-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a data-toggle="collapse" href="#faq_@faq.FAQTopicId" class="faq-question">@faq.FAQTopicName</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="faq_@faq.FAQTopicId" class="panel-collapse collapse">
                                                <div class="faq-answer" style="background-color:white;border:1px solid black;padding:10px;">
                                                    <p>
                                                        @Html.Raw(faq.FAQAnswer)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

   
  </div>
</div>



