﻿@{
    Layout = "~/Views/_include/_LayoutMain.cshtml";
}

<h2>Cancel payment - Completed</h2>
 <button id="btn-homepage" type="button" class="btn btn-secondary block full-width m-b" onclick="javascript:GotoHomePage();">@MyResources.Winplus.Resource.GoToHomePage</button>
<script>

    function GotoHomePage() {
        location.href = "@Url.Content("~/Home")";
    }

    bindingStandardField();
</script>