﻿@model Library.Winplus.syslib.standard.saletransaction.model.SaleTransaction

@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}


<div class="site-content">
  <div class="main-content container">
    <div class="row form-group">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
          <li class="disabled">
            <p class="list-group-item-text">1. @MyResources.Winplus.Resource.BookingInfo</p>
          </li>
          <li class="disabled">
            <p class="list-group-item-text">2. @MyResources.Winplus.Resource.Payment</p>
          </li>
          <li class="active">
            <p class="list-group-item-text">3. @MyResources.Winplus.Resource.BookingCompleted</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="main-title">@MyResources.Winplus.Resource.BookingInfo</h1>
      </div>
      <div class="col-xs-12">
        <div class="box-content box-finish">
          <h2 class="text-center">@MyResources.Winplus.Resource.BookingConfirmed</h2>
          <h4 class="text-center">@MyResources.Winplus.Resource.FullName : @Model.Customer.CustomerName</h4>
          <h4 class="text-center">@MyResources.Winplus.Resource.BookingNumber : @Model.BookingNumber</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">@MyResources.Winplus.Resource.ColumnIndex</th>
                  <th>@MyResources.Winplus.Resource.BillBoard</th>
                  <th>@MyResources.Winplus.Resource.Size</th>
                  <th>@MyResources.Winplus.Resource.BeginAdvDate</th>
                  <th>@MyResources.Winplus.Resource.EndAdvDate</th>
                </tr>
              </thead>
              <tbody>
                @{
                    int index = 0;
                }
                @foreach (Library.Winplus.syslib.standard.saleproduct.model.SaleProduct product in Model.Products)
                {
                    <tr>
                      <td class="text-center">@(++index)</td>
                      <td>@product.SaleProductName</td>
                      <td>@product.SizeInfo</td>
                      <td>@product.BeginAdvDateText</td>
                      <td>@product.EndAdvDateText</td>
                    </tr>
                  }
              </tbody>
            </table>
            <p class="text-danger text-center"><i class="fa fa-envelope"></i> @MyResources.Winplus.Resource.ConfirmFeedBack @Model.Customer.Email</p>
          </div>
            <div style="text-align:center;">
                 <button id="btn-homepage" type="button" class="btn btn-secondary block full-width m-b" onclick="javascript:GotoHomePage();">@MyResources.Winplus.Resource.GoToHomePage</button>
                <script>

                    function GotoHomePage() {
                        location.href = "@Url.Content("~/Home")";
                    }

                    bindingStandardField();
                </script>
            </div>

        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .site-content -->

