﻿@model Library.Winplus.syslib.customize.forgotpassword.model.ForgotPassword
@{
    Layout = "~/Views/_include/_LayoutMain.cshtml";
}

<h2>Sign in</h2>

 <form action="@Url.Content("~/ForgotPassword/CreateToken")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',CreateTokenCallBack)">
    <div class="form-group">
        Email
		@Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Email),@required=""})
    </div>
    <button id="btn-submit" type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-left">@MyResources.Winplus.Resource.ForgotPassword</button>
</form>
<script>
    function CreateTokenCallBack(result) {
        if (result.StatusCode == "0") {
            alert("@MyResources.Winplus.Resource.PleaseCheckEmailForResetPassword");
            location.href="@Url.Content("~/Home")";
        } else {
            alert(result.Message);
        }
    }

</script>

