﻿@model Library.Winplus.syslib.customize.adezy.search.AdezySearch

@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
    var loc = new Library.Winplus.syslib.customize.helper.service.LocaleStringResourceService();
    var SellerWebsite = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "SellerWebsite");
    if(string.IsNullOrEmpty(SellerWebsite)){
        SellerWebsite = "http://119.59.112.79/Seller";
    }

    var categorys = Library.Winplus.syslib.standard.productcategory.service.ProductCategoryService.GetAllProductCategory(Model);
    
}

<div class="main-hero" style="background-image: url(@Url.Content("~/Resource/images/hero.jpg"));">
  <a href="@SellerWebsite" target="_blank" class="link">@MyResources.Winplus.Resource.NewSeller <i class="fa fa-angle-right"></i></a>
  <div class="main-search clear">
    <nav class="tabs-navigation container" style="width:100%;">
      <ul class="tabs">
         @foreach (var cat in categorys)
         {
            <li class="@cat.ActiveClass"><a href="@Url.Content("~/Home/ProductCategory/"+cat.ProductCategoryId.ToString())">@loc.Resource(cat.ResourceString)</a></li>
         }
      </ul><!-- .tabs -->
    </nav><!-- .tabs-navigation -->
    <div id="block-search">
      <div class="container">
          <style>
              #block-search {
                  width:100%;
              }
          </style>
        <div id="search-1" class="box-search active">
          <form action="@Url.Content("~/Home/InitialSearch")" method="post">
                @Html.HiddenFor(model=>model.ProductCategoryId)
                <div class="row">
                    <div class="col-sm-4">
                        <div id="search-form" class="search-form js-search-form">
                            <label>@MyResources.Winplus.Resource.LocationSearch</label>
                            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control",@placeholder="location search...",@autocomplete="off"  })
                        </div>
                            <div class="instant-results" id="div-ul-suggestion" style="display:'';">
                                <ul class="list-unstyled result-bucket" id="ul-suggestion">
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var suggestion in Model.Suggestions)
                                    {
                                        <li class="result-entry" data-suggestion="Target @(++i)" data-position="1" data-type="type" data-analytics-type="merchant">
                                            <a href="javascript:PickSuggestion('@suggestion.SearchSuggestionName');" class="result-link">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="@Url.Content("~/Image/Show/"+suggestion.SuggestImage)" style="max-width:none;" class="media-object">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">@suggestion.SearchSuggestionName</h4>
                                                        <p>@MyResources.Winplus.Resource.SearchFond @suggestion.TotalFound @MyResources.Winplus.Resource.Items</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <script>
                                    function PickSuggestion(text) {
                                        $("#SearchText").val(text);
                                    }
                                </script>
                            </div>
                            <div style="display:none;z-index:3;" id="suggestion-template">
                                 <li class="result-entry" data-suggestion="Target @@suggestion.Index" data-position="1" data-type="type" data-analytics-type="merchant">
                                    <a href="javascript:PickSuggestion('##suggestion.SearchSuggestionName');" class="result-link">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="@Url.Content("~/Image/Show/@suggestion.SuggestImage")" style="max-width:none;" class="media-object">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">##suggestion.SearchSuggestionName</h4>
                                                <p>@MyResources.Winplus.Resource.SearchFond @@suggestion.TotalFound @MyResources.Winplus.Resource.Items</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                    </div>
                    <div class="col-sm-3">
                        <label>@MyResources.Winplus.Resource.SearchFromDate</label>
                        @Html.TextBoxFor(model => model.DateRangText, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2" style="z-index:2;">
                        <label>@MyResources.Winplus.Resource.Rating</label>
                        <script>
                            var ratingHit = false;
                            var HitIndex = 0;
                        </script>
                        <div class="rating col-sm-12">
                            <input type="radio" id="rating-5" name="Rating" value="5" onclick="if (ratingHit && HitIndex == 5) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 5; }"/><label for="rating-5">5</label>
                            <input type="radio" id="rating-4" name="Rating" value="4" onclick="if (ratingHit && HitIndex == 4) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 4; }"/><label for="rating-4">4</label>
                            <input type="radio" id="rating-3" name="Rating" value="3" onclick="if (ratingHit && HitIndex == 3) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 3; }"/><label for="rating-3">3</label>
                            <input type="radio" id="rating-2" name="Rating" value="2" onclick="if (ratingHit && HitIndex == 2) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 2; }"/><label for="rating-2">2</label>
                            <input type="radio" id="rating-1" name="Rating" value="1" onclick="if (ratingHit && HitIndex == 1) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 1; }" /><label for="rating-1">1</label>
                            <input type="radio" id="rating-0" name="Rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                        </div><!-- .rating -->
                    </div>

                    
                        
                    <div class="col-sm-2" style="@(Request.Browser.IsMobileDevice?"padding-top:10px;":"")">
                        <button type="submit" class="btn-submit form-control" style="margin-top:28px;padding-top:3px;">@MyResources.Winplus.Resource.Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="more-search-detail">
                        <a href="@Url.Content("~/Home/SearchAdvance?Advance=Y")">@MyResources.Winplus.Resource.AdvanceSearch <i class="fa fa-caret-down"></i></a>
                     </div><!-- .more-search-detail -->
                </div>

          </form>
          
        </div><!-- .box-search -->
          
      </div><!-- .container -->
    </div><!-- #block-search -->
  </div><!-- .main-search -->
</div><!-- .main-hero -->


<div class="site-content">
  <div class="container product-list">
    <div class="row" id="div-result-promotion">
      <div class="box-title style-1 col-xs-12 col-lg-6">
        <div class="block">
          <div class="inner">
            <h3><span>Pro</span>motion</h3>
            <p>@MyResources.Winplus.Resource.SpecialPriceBillBoard<br>@MyResources.Winplus.Resource.ForYourBusiness</p>
            <a href="javascript:SearchType('Promotion')" class="click">@MyResources.Winplus.Resource.Click</a>
          </div><!-- .inner -->
        </div><!-- .block -->
      </div><!-- .box-title -->

    </div><!-- .row -->
  </div><!-- .product-list -->
  <div class="container product-list">
    <div class="row" id="div-result-bestlocation">
      <div class="box-title style-2 col-xs-12 col-lg-6">
        <div class="block">
          <div class="inner">
            <h3><span>Best</span> Location</h3>
            <p>@MyResources.Winplus.Resource.PopularBillboard<br>@MyResources.Winplus.Resource.ForYourBusiness</p>
            <a href="javascript:SearchType('BestLocation')" class="click">@MyResources.Winplus.Resource.Click</a>
          </div><!-- .inner -->
        </div><!-- .block -->
      </div><!-- .box-title -->
    </div><!-- .row -->
  </div><!-- .product-list -->
  <div class="container product-list">
    <div class="row" id="div-result-lastvisit">
      <div class="box-title style-1 col-xs-12 col-lg-6">
        <div class="block">
          <div class="inner">
            <h3><span>Re</span>cently</h3>
            <p>@MyResources.Winplus.Resource.LastViewBillboard</p>
            <a href="javascript:SearchType('LastVisit')" class="click">@MyResources.Winplus.Resource.Click</a>
          </div><!-- .inner -->
        </div><!-- .block -->
      </div><!-- .box-title -->
    </div><!-- .row -->
  </div><!-- .product-list -->

  <div class="container">
    <div class="front-about row">
      <div class="thumb col-xs-12 col-sm-5"><img src="@Url.Content("~/images/pic.jpg")"></div>
      <div class="info col-xs-12 col-sm-7">
        <h3 class="title">@MyResources.Winplus.Resource.AboutUs</h3>
        <p>@loc.Resource("Content.AboutUs")</p>
        <a href="#" class="btn">@MyResources.Winplus.Resource.ReadMore</a>
      </div><!-- .info -->
    </div><!-- .front-about -->
  </div><!-- .container -->
</div>
<script>
    function SearchType(type) {
        location.href = "@Url.Content("~/Home/SearchBy?type=")" + type;
    }

    $(document).ready(function () {
        InitialUi();
    });


    // Promotion ca
    var adezySearchPromotion = new AdezySearch();
    adezySearchPromotion.Lpp = 6;
    adezySearchPromotion.SearchUrl = "@Url.Content("~/Adezy/Search")";
    adezySearchPromotion.RenderElement = "div-result-promotion";
    adezySearchPromotion.VariableName = "adezySearchPromotion";
    adezySearchPromotion.CallBackName = "SearchCallBack";
    adezySearchPromotion.ApplyFilter = function () {
        this.Filter = "&SearchType=Promotion&ProductCategoryId=" + $("#ProductCategoryId").val();
    }
   
    // Best Location
    var adezySearchBestLocation = new AdezySearch();
    adezySearchBestLocation.Lpp = 6;
    adezySearchBestLocation.SearchUrl = "@Url.Content("~/Adezy/Search")";
    adezySearchBestLocation.RenderElement = "div-result-bestlocation";
    adezySearchBestLocation.VariableName = "adezySearchBestLocation";
    adezySearchBestLocation.CallBackName = "SearchCallBack";
    adezySearchBestLocation.ApplyFilter = function () {
        this.Filter = "&SearchType=BestLocation&ProductCategoryId=" + $("#ProductCategoryId").val();
    }

    // Recent View
    var adezySearchLastVisit = new AdezySearch();
    adezySearchLastVisit.Lpp = 6;
    adezySearchLastVisit.SearchUrl = "@Url.Content("~/Adezy/Search")";
    adezySearchLastVisit.RenderElement = "div-result-lastvisit";
    adezySearchLastVisit.VariableName = "adezySearchLastVisit";
    adezySearchLastVisit.CallBackName = "SearchCallBack";
    adezySearchLastVisit.ApplyFilter = function () {
        this.Filter = "&SearchType=LastVisit&ProductCategoryId=" + $("#ProductCategoryId").val();
    }


    function AdezyPageLoad() {

        adezySearchPromotion.NextPage(0, function (result) {
            if (result.StatusCode == "0") {
                adezySearchPromotion.ParseResult(result.JsonData);
                DrawSearchResultPromotion(adezySearchPromotion);
            } else {
                alert(result.Message);
            }
        });

        adezySearchBestLocation.NextPage(0, function (result) {
            if (result.StatusCode == "0") {
                adezySearchBestLocation.ParseResult(result.JsonData);
                DrawSearchResultPromotion(adezySearchBestLocation);
            } else {
                alert(result.Message);
            }
        });

        adezySearchLastVisit.NextPage(0, function (result) {
            if (result.StatusCode == "0") {
                adezySearchLastVisit.ParseResult(result.JsonData);
                DrawSearchResultPromotion(adezySearchLastVisit);
            } else {
                alert(result.Message);
            }
        });
    }

    AdezyPageLoad();

    // Core Render Block
    function DrawSearchResultPromotion(searcher) {
        var searchArea = document.getElementById(searcher.RenderElement);
        var Products = searcher.SearchResults['Products'];
        var fullHtmlText = "";
        for (i = 0; i < Products.length; i++) {
            var result = Products[i];
            var promotionText = "";
            if (result.HasPromotion) {
                if (result.DiscountTypeId == 1) {
                    promotionText = "@MyResources.Winplus.Resource.Reduce " + result.Discount + " @MyResources.Winplus.Resource.Baht";;
                } else {
                    promotionText = "@MyResources.Winplus.Resource.Reduce " + result.Discount + "%";
                }
            }

            var htmlText = "<div class=\"item col-xs-12 col-md-4 col-lg-3\">"
                            + "<div class=\"thumb\">"
                            + "<a href=\"@@ProductLink\"><img src=\"@@ProductImage\" width=\"270\" height=\"270\"></a>"
                            + (promotionText != "" ? "<div class=\"ribbon discount\">" + promotionText + "</div>" : "")
                            + "</div>"
                            + "<div class=\"detail\">"
                            + "<div class=\"block clear\">"
                            + "<div class=\"info\">"
                            + "<p class=\"location\"><img src=\"@Url.Content("~/Resource/images/location.png")\"> @@ProductName</p>"
                            + "<p class=\"type\"><img src=\"@Url.Content("~/Resource/images/type.png")\"> @@ProductCategoryName</p>"
                            + "<p class=\"size\"><img src=\"@Url.Content("~/Resource/images/size.png")\"> @@ScreenSize</p>"
                            + "</div>"
                            + "<div class=\"price\">"
                            + "<span class=\"number\">@@ProductPrice @@CurrencyCode</span>"
                            + "<span>@MyResources.Winplus.Resource.Month</span>"
                            + "</div>"
                            + "</div>"
                            + "<div class=\"footer clear\">"
                            + "<div class=\"box-fav\"><i class=\"fa fa-heart-o\"></i></div>"
                            + "<div class=\"box-rating\"><i class=\"fa fa-star\"></i><i class=\"fa fa-star\"></i><i class=\"fa fa-star\"></i><i class=\"fa fa-star\"></i><i class=\"fa fa-star-o\"></i></div>"
                            + "</div>"
                            + "</div>"
                            + "</div>";

            htmlText = Replacher(htmlText, result);

            $(searchArea).append(htmlText);
        }
    }


    function InitialUi() {
        bindingStandardField();
        
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.mega-dropdown-menu').stop(true, true).delay(200).fadeIn(200);
        }, function () {
            $(this).find('.mega-dropdown-menu').stop(true, true).delay(200).fadeOut(200);
        });

        //Search Suggestion
        $('#SearchText').click(function (event) {
            $(".instant-results").fadeIn('slow').css('height', 'auto');
            event.stopPropagation();
        });

        $('body').click(function () {
            $(".instant-results").fadeOut('500');
        });

        $("#SearchText").keyup(function () {
            var query = $("#SearchText").val();
            SearchSuggestion(query);
        });
        //END: Search Suggestion

        $('#DateRangText').daterangepicker();


        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 100000,
            step: 1000,
            values: [0, 100000],
            slide: function (event, ui) {
                $("#amount").val("THB " + numberWithCommas(ui.values[0]) + " - THB " + numberWithCommas(ui.values[1]));
                $("#ProductPriceFrom").val(ui.values[0]);
                $("#ProductPriceTo").val(ui.values[1]);
            }
        });
        $("#amount").val("THB " + numberWithCommas($("#slider-range").slider("values", 0)) + " - THB " + numberWithCommas($("#slider-range").slider("values", 1)));
        $("#ProductPriceFrom").val(0);
        $("#ProductPriceTo").val(0);

    }


    function SearchSuggestion(query) {
        var url = "@Url.Content("~/Suggestion/Search?text=")" + query;
        ajaxUrlRequest(url, SearchSuggestionResponse);
    }
   
    function SearchSuggestionResponse(result) {
        if (result.StatusCode == "0") {
            var data = result.JsonData;

            var template = document.getElementById("suggestion-template").innerHTML;
            var appendText = "";
            for (i = 0; i < data.length; i++) {
                var suggest = data[i];

                rowText = template;
                rowText = rowText.replace(/@@suggestion.SuggestImage/g, suggest.SuggestImage);
                rowText = rowText.replace(/##suggestion.SearchSuggestionName/g, suggest.SearchSuggestionName);
                rowText = rowText.replace(/@@suggestion.TotalFound/g, suggest.TotalFound);
                rowText = rowText.replace(/@@suggestion.Index/g, (i + 1));

                appendText += rowText;
            }

            if (appendText.length > 0) {
                $(".instant-results").fadeIn('500');
                document.getElementById("ul-suggestion").innerHTML = appendText;
            } else {
                $(".instant-results").fadeOut('500');
            }
        }
    }
    
</script>
