﻿@model Library.Winplus.syslib.customize.logincustomer.model.AttempLoginCustomer
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
    
    string FacebookAppId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "FacebookAppId");
    if(string.IsNullOrEmpty(FacebookAppId)){
        FacebookAppId = "320346058466598";
    }
}
<script>
    var FacebookAppId = "@FacebookAppId";
</script>
<script src="@Url.Content("~/Resource/js/util/facebook-util.js")"></script>
<script src="@Url.Content("~/Resource/js/util/googleplus-util.js")"></script>

<div class="site-content">
  <div class="container">
    <h1 class="main-title">@MyResources.Winplus.Resource.Login</h1>
    <div class="box-register row">
      <div class="box-1 col-xs-12 col-md-3">
          <div class="row">
              <div class="col-sm-12">
                  <fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();"></fb:login-button>
              </div>
          </div>
          <div class="row" style="margin-top:15px;">
              <div class="col-sm-12">
                  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
              </div>
          </div>
      </div><!-- .box-1 -->
      <div class="box-2 col-xs-12 col-md-9" style="padding:30px;padding-left:80px;padding-right:80px;">
        <h3>@MyResources.Winplus.Resource.OrLoginByEmail</h3>
         <form action="@Url.Content("~/Login/Checklogin")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',LoginCallBack)">
            <div class="form-group">
                Email (phone for mobile accounts)
		        @Html.TextBoxFor(model=>model.UserName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.UserName),@required=""})
            </div>
            <div class="form-group">
                Password
                @Html.PasswordFor(model=>model.Password, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Password),@required=""})
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model=>model.KeepSignedIn)
                @Html.DisplayNameFor(model => model.KeepSignedIn)
            </div> 
            <div class="form-group row-submit">
                <button id="btn-submit" type="submit" class="btn-adezy btn-submit ladda-button" data-style="expand-left">@MyResources.Winplus.Resource.SignIn</button>
            </div>
        </form>
      </div><!-- .box-2 -->
    </div><!-- .register -->
  </div><!-- .container -->
</div><!-- .site-content -->




 @if (string.IsNullOrEmpty(Model.RedirectUrl))
 {
    <script>
        function LoginCallBack(result) {
                if (result.StatusCode == "0") {
                    location.href = "@Url.Content("~/Home")";
            } else {
                alert(result.Message);
            }
        }
    </script>
 }else{
    <script>
        function LoginCallBack(result) {
            if (result.StatusCode == "0") {
                location.href = "@Url.Content(Model.RedirectUrl)";
            } else {
                alert(result.Message);
            }
        }
    </script>
 }

<script>

    function GotoCreateAdezyAccount() {
        location.href = "@Url.Content("~/Register")";
    }
    
    function GotoForgotPassword() {
        location.href = "@Url.Content("~/ForgotPassword")";
    }
</script>

