﻿@model Library.Winplus.syslib.standard.customer.model.Customer
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";

    string FacebookAppId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "FacebookAppId");
    if(string.IsNullOrEmpty(FacebookAppId)){
        FacebookAppId = "320346058466598";
    }
        
}
<script>
    var FacebookAppId = "@FacebookAppId";
</script>
<script src="@Url.Content("~/Resource/js/util/facebook-util.js")"></script>
<script src="@Url.Content("~/Resource/js/util/googleplus-util.js")"></script>

<div class="site-content">
  <div class="container">
    <h1 class="main-title">@MyResources.Winplus.Resource.Register</h1>
    <div class="box-register row">
      <div class="box-1 col-xs-12 col-md-3">
          <div class="row">
              <div class="col-sm-12">
                  <fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();"></fb:login-button>
              </div>
          </div>
          <div class="row" style="margin-top:15px;">
              <div class="col-sm-12">
                  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
              </div>
          </div>

      </div><!-- .box-1 -->
      <div class="box-2 col-xs-12 col-md-9">
        <h3>@MyResources.Winplus.Resource.OrRegisterByEmail</h3>
        
         <form action="@Url.Content("~/Register/Save")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',RegisterCallBack)">
            <div class="row">
	            <div class="form-group col-sm-6">
		            @Html.DisplayNameFor(model => model.FirstName)
		            @Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FirstName),@required=""})
	            </div>
    
	            <div class="form-group col-sm-6">
		            @Html.DisplayNameFor(model => model.LastName)
		            @Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LastName),@required=""})
	            </div>

                <div class="form-group col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                    @Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Email),@required=""})
                </div>
        
                <div class="form-group col-sm-6">
                    @MyResources.Winplus.Resource.PhoneNo
                    @Html.TextBoxFor(model=>model.PhoneNo1, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.PhoneNo1),@required=""})
                </div>
        
                <div class="form-group col-sm-6">
                    @Html.DisplayNameFor(model => model.Password)
                    @Html.PasswordFor(model=>model.Password, new{@class = "form-control",@placeholder=@MyResources.Winplus.Resource.AtleastCharactor,@required=""})
                </div>

                <div class="form-group col-sm-6">
                    @Html.DisplayNameFor(model => model.ReEnterPassword)
                    @Html.PasswordFor(model=>model.ReEnterPassword, new{@class = "form-control",@placeholder=@MyResources.Winplus.Resource.AtleastCharactor,@required=""})
                </div>
                
                <div class="form-group col-sm-12">
                    @Html.CheckBoxFor(model=>model.AllowReciveEmail, new { @class = "form-control i-checks" })
                    @MyResources.Winplus.Resource.AllowReciveEmail
                </div>

                 <div class="form-group col-sm-12 row-submit"">
                     <button id="btn-submit" type="submit" class="btn-adezy btn-submit ladda-button" data-style="expand-left">@MyResources.Winplus.Resource.CreateAdezyAccount</button>
                 </div>
            </div>
        </form>

        <script>
            function RegisterCallBack(result) {
                if (result.StatusCode == "0") {
                    // Redirect to xx page
                    location.href = "@Url.Content("~/Login")";
                } else {
                    alert(result.Message);
                }
            }
            bindingStandardField();
        </script>
      </div><!-- .box-2 -->
    </div><!-- .register -->
  </div><!-- .container -->
</div><!-- .site-content -->


