﻿@model Library.Winplus.syslib.customize.forgotpassword.model.ForgotPassword
@{
    Layout = "~/Views/_include/_LayoutMain.cshtml";
}

<h2>Sign in</h2>

 <form action="@Url.Content("~/ForgotPassword/ForgotConfirm")" method="post" onsubmit="ajaxSubmitForm(event,this,'btn-submit',ForgotConfirmCallBack)">
     @Html.HiddenFor(model=>model.CustomerId)
    <div class="form-group">
        Newpassword:
		@Html.PasswordFor(model=>model.NewPassword, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.NewPassword),@required=""})
    </div>
     <br />
    <div class="form-group">
        Confirm Password:
		@Html.PasswordFor(model=>model.RetryNewPassword, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.RetryNewPassword),@required=""})
    </div>
    <button id="btn-submit" type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-left">@MyResources.Winplus.Resource.ConfirmChangePassword</button>
</form>
<script>
    function ForgotConfirmCallBack(result) {
        if (result.StatusCode == "0") {
            alert("@MyResources.Winplus.Resource.AlreadyResetPassword");
            location.href="@Url.Content("~/Login")";
        } else {
            alert(result.Message);
        }
    }
    if ("@Model.CustomerId" == "") {
        alert("@MyResources.Winplus.Resource.AlreadyResetPassword");
        location.href = "@Url.Content("~/Login")";
    }
</script>

