﻿@model Library.Winplus.syslib.customize.adezy.search.AdezySearch
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";

    var categorys = Library.Winplus.syslib.standard.productcategory.service.ProductCategoryService.GetAllProductCategory(Model);
    var SellerWebsite = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(Library.Winplus.syslib.customize.loginuser.model.LoginUser.DefaultUser, "SellerWebsite");
    var loc = new Library.Winplus.syslib.customize.helper.service.LocaleStringResourceService();
    if (string.IsNullOrEmpty(SellerWebsite))
    {
        SellerWebsite = "http://119.59.112.79/Seller";
    }
    
}

@Html.Partial("~/Views/_include/_dlgProductInfo.cshtml")

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGetCtzrwrJN1CjT4RQz5b4mOJXRiE_bQ"></script>

<script src="@Url.Content("~/Resource/js/util/CustomGoogleMapMarker.js")"></script>

<div class="main-hero" style="background-image: url(@Url.Content("~/Resource/images/hero.jpg"));">
  <a href="@SellerWebsite" target="_blank" class="link">@MyResources.Winplus.Resource.NewSeller <i class="fa fa-angle-right"></i></a>
  <div class="main-search clear">
    <nav class="tabs-navigation container" style="width:100%;">
      <ul class="tabs">
         @foreach (var cat in categorys)
         {
            <li class="@cat.ActiveClass"><a href="@Url.Content("~/Home/AdvanceProductCategory/"+cat.ProductCategoryId.ToString())">@loc.Resource(cat.ResourceString)</a></li>
         }
      </ul><!-- .tabs -->
    </nav><!-- .tabs-navigation -->
    <div id="block-search">
      <div class="container">
          <style>
              #block-search {
                  width:100%;
              }
          </style>
        <div id="search-1" class="box-search active">
          <form>
              @Html.HiddenFor(model=>model.ProductCategoryId)
              @Html.HiddenFor(model=>model.Latitude)
              @Html.HiddenFor(model=>model.Longitude)
              @Html.HiddenFor(model=>model.Distance)
              <div class="row">
                    <div class="col-sm-4">
                        <div id="search-form" class="search-form js-search-form">
                            <label>@MyResources.Winplus.Resource.LocationSearch</label>
                            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control",@placeholder="location search...",@autocomplete="off"   })
                        </div>
                            <div class="instant-results" id="div-ul-suggestion">
                                <ul class="list-unstyled result-bucket" id="ul-suggestion">
                                    @{
                                        int i = 0;
                                    }
                                    
                                    @if(Model.Suggestions!=null){
                                        foreach (var suggestion in Model.Suggestions)
                                        {
                                            <li class="result-entry" data-suggestion="Target @(++i)" data-position="1" data-type="type" data-analytics-type="merchant">
                                                <a href="javascript:PickSuggestion('@suggestion.SearchSuggestionName');" class="result-link">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img src="@Url.Content("~/Image/Show/"+suggestion.SuggestImage)" style="max-width:none;" class="media-object">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">@suggestion.SearchSuggestionName</h4>
                                                            <p>@MyResources.Winplus.Resource.SearchFound @suggestion.TotalFound @MyResources.Winplus.Resource.Items</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <script>
                                    function PickSuggestion(text) {
                                        //console.log("PickSuggestion:" + text);
                                        $("#SearchText").val(text);
                                    }
                                </script>
                            </div>
                            <div style="display:none;z-index:3;" id="suggestion-template">
                                 <li class="result-entry" data-suggestion="Target @@suggestion.Index" data-position="1" data-type="type" data-analytics-type="merchant">
                                    <a href="javascript:PickSuggestion('##suggestion.SearchSuggestionName');" class="result-link">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="@Url.Content("~/Image/Show/@suggestion.SuggestImage")" style="max-width:none;" class="media-object">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">##suggestion.SearchSuggestionName</h4>
                                                <p>@MyResources.Winplus.Resource.SearchFound @@suggestion.TotalFound @MyResources.Winplus.Resource.Items</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                    </div>
                    <div class="col-sm-3">
                        <label>@MyResources.Winplus.Resource.SearchFromDate</label>
                        @Html.TextBoxFor(model => model.DateRangText, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2" style="z-index:2;">
                            <label>@MyResources.Winplus.Resource.Rating</label>
                            <script>
                                var ratingHit = false;
                                var HitIndex = 0;
                            </script>
                            <div class="rating">
                                <input type="radio" id="rating-5" name="Rating" value="5" onclick="if (ratingHit && HitIndex == 5) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 5; }"/><label for="rating-5">5</label>
                                <input type="radio" id="rating-4" name="Rating" value="4" onclick="if (ratingHit && HitIndex == 4) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 4; }"/><label for="rating-4">4</label>
                                <input type="radio" id="rating-3" name="Rating" value="3" onclick="if (ratingHit && HitIndex == 3) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 3; }"/><label for="rating-3">3</label>
                                <input type="radio" id="rating-2" name="Rating" value="2" onclick="if (ratingHit && HitIndex == 2) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 2; }"/><label for="rating-2">2</label>
                                <input type="radio" id="rating-1" name="Rating" value="1" onclick="if (ratingHit && HitIndex == 1) { this.checked = false; ratingHit = false; } else { ratingHit = true; HitIndex = 1; }" /><label for="rating-1">1</label>
                                <input type="radio" id="rating-0" name="Rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                            </div><!-- .rating -->
                    </div>
                    <div class="col-sm-2" style="@(Request.Browser.IsMobileDevice?"padding-top:10px;":"")">
                        <button id="normal-submit" type="submit" class="btn-submit form-control"  style="margin-top:28px;padding-top:3px;" onclick="javascript:btnSearchClick();return false;">@MyResources.Winplus.Resource.Search</button>
                    </div>
                </div>
              <div id="div_adv_search" class="row row-hidden" style="padding-left:15px;padding-right:15px;padding-top:5px;">
                <div class="col col-5" >
                  <label>@MyResources.Winplus.Resource.MonthlyPrice</label>
                  <div id="slider-range"></div>
                  <input type="text" id="amount" />
                    @Html.HiddenFor(model=>model.ProductPriceFrom)
                    @Html.HiddenFor(model=>model.ProductPriceTo)
                </div><!-- .col -->
                <div class="col col-6">
                  <label>@MyResources.Winplus.Resource.PeriodType</label>
                  <input type="text" class="input-text" id="Period">
                  <div class="box-select">
                    <select id="PeriodType">
                      <option value="1">@MyResources.Winplus.Resource.Month</option>
                      <option value="2">@MyResources.Winplus.Resource.Year</option>
                    </select>
                  </div>
                </div><!-- .col -->
                  
                <div class="col col-12" style="">
                    <button id="adv-submit" type="submit" class="btn-submit form-control" style="margin-top:28px;padding-top:3px;display:none;" onclick="javascript:btnSearchClick();return false;">@MyResources.Winplus.Resource.Search</button>
                </div>
              </div><!-- .row -->
          </form>
          <div class="more-search-detail" id="more-search-detail">
            <a href="#">@MyResources.Winplus.Resource.AdvanceSearch <i class="fa fa-caret-down"></i></a>
          </div><!-- .more-search-detail -->
        </div><!-- .box-search -->
      </div><!-- .container -->
    </div><!-- #block-search -->
  </div><!-- .main-search -->
</div><!-- .main-hero -->


<div class="site-content">
  <div class="container">
    <div class="search-result">
        <h1 class="main-title">@MyResources.Winplus.Resource.Search / @MyResources.Winplus.Resource.All <small id="small-result"></small></h1>
        
      <div class="row">
        <div class="map col-xs-12 col-md-5">
            <div class="col-sm-12"><input type="checkbox" id="move-search" />&nbsp;@MyResources.Winplus.Resource.SearchWhenMove</div>
            <div class="col-sm-12 google-map" id="googlemap" style="height:920px;"></div>
        </div>
        <div class="result col-xs-12 col-md-7">
          <form class="form-inline">
            <div class="form-group">
              <label>@MyResources.Winplus.Resource.SortingBy</label>
            </div>
            <div class="form-group">
              <select class="form-control" id="OrderBy" onchange="btnSearchClick();">
                <option value=""></option>
                <option value="1">@MyResources.Winplus.Resource.Price</option>
                <option value="2">@MyResources.Winplus.Resource.Rating</option>
                <option value="3">@MyResources.Winplus.Resource.Promotion</option>
              </select>
            </div><!-- .form-group -->
          </form>
          <div class="product-list">
            <div class="row" id="div-result-promotion">
            </div>
          </div>
          <nav>
            <ul class="pagination" id="ul-paging">
              <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><span>...</span></li>
              <li><a href="#">17</a></li>
              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
    .block-show-item:hover {
        background-color:#EBF1FB;
    }
</style>
<script>
    var fixedCenter = false;
    var adezySearchPromotion = new AdezySearch();
    adezySearchPromotion.Lpp = 6;
    adezySearchPromotion.SearchUrl = "@Url.Content("~/Adezy/Search")";
    adezySearchPromotion.VariableName = "adezySearchPromotion";
    adezySearchPromotion.CallBackName = "SearchCallBack";
    adezySearchPromotion.ApplyFilter = function () {
        this.Filter = "";
        var param = $("#SearchText").val();
        if (param != "") {
            this.Filter += "&SearchText=" + param;
        }

        param = $("#BeginAdvDateText").val();
        if (param != "") {
            this.Filter += "&BeginAdvDateText=" + param;
        }

        param = $("#EndAdvDateText").val();
        if (param != "") {
            this.Filter += "&EndAdvDateText=" + param;
        }

        param = $("#DateRangText").val();
        if (param != "") {
            this.Filter += "&DateRangText=" + param;
        }

        param = $("#ProductPriceFrom").val();
        if (param != "") {
            this.Filter += "&ProductPriceFrom=" + param;
        }

        param = $("#ProductPriceTo").val();
        if (param != "") {
            this.Filter += "&ProductPriceTo=" + param;
        }

        param = $("#Period").val();
        if (param != "") {
            this.Filter += "&Period=" + param;
        }

        param = $("#PeriodType").val();
        if (param != "") {
            this.Filter += "&PeriodType=" + param;
        }

        param = $("#ProductCategoryId").val();
        if (param != "") {
            this.Filter += "&ProductCategoryId=" + param;
        }

        param = $("#OrderBy").val();
        if (param != "") {
            this.Filter += "&OrderBy=" + param;
        }

        var Rating = "";
        if (document.getElementById("rating-1").checked) {
            Rating = "1";
        } else if (document.getElementById("rating-2").checked) {
            Rating = "2";
        } else if (document.getElementById("rating-3").checked) {
            Rating = "3";
        } else if (document.getElementById("rating-4").checked) {
            Rating = "4";
        } else if (document.getElementById("rating-5").checked) {
            Rating = "5";
        }
        if (Rating != "") {
            this.Filter += "&Rating=" + Rating;
        }

        if (document.getElementById("move-search").checked) {
            var mapCenter = googlemap.getCenter();
            //alert(mapCenter);

            var Distance = getDistance();
            this.Filter += "&Latitude=" + mapCenter.lat();
            this.Filter += "&Longitude=" + mapCenter.lng();
            this.Filter += "&Distance=" + Distance;
            $("#Latitude").val(mapCenter.lat());
            $("#Longitude").val(mapCenter.lng());
            $("#Distance").val(Distance);
        }
    }

    function SearchCallBack(result) {
        if (result.StatusCode == "0") {
            adezySearchPromotion.ParseResult(result.JsonData);
            DrawSearchResultPromotion(adezySearchPromotion);
        } else {
            alert(result.Message);
        }
    }

    function btnSearchClick() {
        adezySearchPromotion.NextPage(0, SearchCallBack);
    }

    function DrawSearchResultPromotion(searcher) {
        var searchArea = document.getElementById("div-result-promotion");
        searchArea.innerHTML = "";

        var Products = searcher.SearchResults['Products'];
        var fullHtmlText = "";
        for (i = 0; i < Products.length; i++) {
            var result = Products[i];
            result.DateRangText = $("#DateRangText").val();

            var promotionText = "";
            if (result.HasPromotion) {
                if (result.DiscountTypeId == 1) {
                    promotionText = "@MyResources.Winplus.Resource.Reduce " + result.Discount + " @MyResources.Winplus.Resource.Baht";;
                } else {
                    promotionText = "@MyResources.Winplus.Resource.Reduce " + result.Discount + "%";
                }
            }
            if (result.ScoreId == null) result.ScoreId = 0;
            var RatingTxt = "";
            for (s = 0; s < 5; s++) {
                if (result.ScoreId > s) {
                    RatingTxt += "<i class=\"fa fa-star\"></i>";
                } else {
                    RatingTxt += "<i class=\"fa fa-star-o\"></i>";
                }
            }

            var htmlText = "<div class=\"item col-xs-12 block-show-item\" onmouseover=\"MoveMap(@@ProductId,@@Latitude,@@Longitude);\">"
                           + "<div class=\"thumb\">"
                           + "<a href=\"@@ProductLink\"><img class=\"\" src=\"@@ProductImage\" width=\"270\" height=\"270\"></a>"
                           + (promotionText != "" ? "<div class=\"ribbon discount\">" + promotionText + "</div>" : "")
                           + "</div>"
                           + "<div class=\"detail\">"
                           + "<div class=\"block clear\">"
                           + "<div class=\"info\">"
                           + "<p class=\"location\"><img src=\"@Url.Content("~/Resource//Image/Show/d219362a165f4b3ba622b84e6ac4441a\")")\"> @@ProductName</p>"
                            + "<p class=\"type\"><img src=\"@Url.Content("~/Resource/images/type.png\")")\"> @@ProductCategoryName</p>"
                            + "<p class=\"size\"><img src=\"@Url.Content("~/Resource/images/size.png\")")\"> @@SizeInfo</p>"
                            + "</div>"
                            + "<div class=\"price\">"
                            + "<span class=\"discount\"></span>"
                            + "<span class=\"number\">@@ProductPrice @@CurrencyCode</span>"
                            + "<span>@MyResources.Winplus.Resource.Month</span>"
                            + "</div>"
                            + "</div>"
                            + "<div class=\"footer clear\">"
                            + "<div class=\"box-fav\"><i class=\"fa fa-heart-o\"></i></div>"
                            + "<div class=\"box-rating\">" + RatingTxt + "</div>"
                            + "</div>"
                            + "</div>"
                            + "</div>";

            htmlText = Replacher(htmlText, result);

            $(searchArea).append(htmlText);
        }
        var nav = document.getElementById("ul-paging");
        nav.innerHTML = "";
        var onclick = "";
        if (searcher.Page < 1) {
            onclick = "javascript:void(0)";
        } else {
            onclick = "javascript:" + searcher.VariableName + ".NextPage(" + (searcher.Page - 1) + "," + searcher.CallBackName + ")";
        }

        $(nav).append("<li><a href=\"" + onclick + "\"><i class=\"fa fa-chevron-left\"></i></a></li>");

        for (i = 0; i < searcher.TotalPage; i++) {
            if (i >= searcher.ShowPageFrom && i <= searcher.ShowPageTo) {
                var onclick = "javascript:" + searcher.VariableName + ".NextPage(" + i + "," + searcher.CallBackName + ")";
                var liclass = "";
                if (searcher.Page == i) {
                    liclass = "class=\"active\"";
                }

                $(nav).append("<li " + liclass + "><a href=\"" + onclick + "\">" + (i + 1) + "</a></li>");
            }
        }

        onclick = "";
        if ((searcher.Page + 1) >= searcher.TotalPage) {
            onclick = "javascript:void(0)";
        } else {
            onclick = "javascript:" + searcher.VariableName + ".NextPage(" + (searcher.Page + 1) + "," + searcher.CallBackName + ")";
        }

        $(nav).append("<li><a href=\"" + onclick + "\"><i class=\"fa fa-chevron-right\"></i></a></li>");

        $("#small-result").html(searcher.TotalRecords + " @MyResources.Winplus.Resource.Locations");

        addMarker(searcher.SearchResults["Locations"]);
    }

        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);
        var googlemap;
        var markers = [];
        var mapCircle=null;

        function init() {
            try {
                
                definePopupClass();

                // Options for Google map
                // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    zoom: 11,
                    styles: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }],
                    fullscreenControl: false
                };

                // Get all html elements for map
                var mapElement = document.getElementById('googlemap');

                // Create the Google Map using elements
                googlemap = new google.maps.Map(mapElement, mapOptions);
                google.maps.event.addListener(googlemap, 'dragend', function () { moveMapEvent(); });
                google.maps.event.addListener(googlemap, 'zoom_changed', function () {
                    moveMapEvent();
                });


                InitialUi();

                adezySearchPromotion.NextPage(0, SearchCallBack);
            } catch (e) {
                alert("init Error->" + e);
            }
        }

        function moveMapEvent() {
            //console.info(">>"+parseFloat(googlemap.getZoom())+"<<");

            if (mapCircle != null) {
                mapCircle.setMap(null);
                mapCircle = null;
            }

            if (document.getElementById("move-search").checked) {
                fixedCenter = true;
                mapCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.0,// 0.8 if want to test area to show...
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0, // 0.1 if want to test area to show...
                    map: googlemap,
                    center: googlemap.getCenter(),
                    radius: getDistance()
                });

                btnSearchClick();
            }
        }

        function activeMarkerPoint(ProductId){
            $(".marker_tooltip").css('background','white').css('font-weight','normal');
            $("#marker_"+ProductId).css('background','yellow').css('font-weight','bold');
        }

        function MoveMap(ProductId,Latitude,Longitude) {
            activeMarkerPoint(ProductId);
            googlemap.setCenter(new google.maps.LatLng(Latitude, Longitude));
        }

        function getDistance() {
            var distance = 1128;
            if (googlemap == null) return distance;

            var zoom = googlemap.getZoom();
            if(zoom==1){
                distance = 591657550;
            }else if(zoom==2){
                distance = 295828775;
            }else if(zoom==3){
                distance = 147914387;
            }else if(zoom==4){
                distance = 73957193;
            }else if(zoom==5){
                distance = 36978596;
            }else if(zoom==6){
                distance = 18489298;
            }else if(zoom==7){
                distance = 9244649;
            }else if(zoom==8){
                distance = 4622324;
            }else if(zoom==9){
                distance = 2311162;
            }else if(zoom==10){
                distance = 1155581;
            }else if(zoom==11){
                distance = 577790;
            }else if(zoom==12){
                distance = 288895;
            }else if(zoom==13){
                distance = 144447;
            }else if(zoom==14){
                distance = 72223;
            }else if(zoom==15){
                distance = 36111;
            }else if(zoom==16){
                distance = 18055;
            }else if(zoom==17){
                distance = 9027;
            }else if(zoom==18){
                distance = 4513;
            }else if(zoom==19){
                distance = 2256;
            }else if(zoom==20){
                distance = 1128;
            }

            return distance * 0.05;
        }

        function InitialUi() {
            bindingStandardField();

            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.mega-dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.mega-dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });

            //Search Suggestion
            $('#SearchText').click(function (event) {
                if ($("#ul-suggestion .result-entry").length > 0) {
                    $(".instant-results").fadeIn('slow').css('height', 'auto');
                    event.stopPropagation();
                }
            });

            $('body').click(function () {
                $(".instant-results").fadeOut('500');
            });

            $("#SearchText").keyup(function () {
                var query = $("#SearchText").val();
                SearchSuggestion(query);
            });
            //END: Search Suggestion

            $('#DateRangText').daterangepicker();


            $('.more-search-detail').click(function (event) {
                var IsMobileDevice = @(Request.Browser.IsMobileDevice?"true":"false");
                event.preventDefault();
                $(this).parents('.box-search').find('.row-hidden').slideToggle("slow", function () {
                    if(IsMobileDevice){
                        if ($('#div_adv_search').css('display') == 'none') {
                            $("#normal-submit").show();
                            $("#adv-submit").hide();
                        } else {
                            $("#normal-submit").hide();
                            $("#adv-submit").show();
                        }
                    }
                });
                $(this).find('.fa').toggleClass('fa-caret-up');
            });

            if ("@Model.Advance" == "Y") {
                $("#more-search-detail").click();
            }
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100000,
                step: 1000,
                values: [0, 100000],
                slide: function (event, ui) {
                    $("#amount").val("THB " + numberWithCommas(ui.values[0]) + " - THB " + numberWithCommas(ui.values[1]));
                    $("#ProductPriceFrom").val(ui.values[0]);
                    $("#ProductPriceTo").val(ui.values[1]);
                }
            });
            $("#amount").val("THB " + numberWithCommas($("#slider-range").slider("values", 0)) + " - THB " + numberWithCommas($("#slider-range").slider("values", 1)));
            $("#ProductPriceFrom").val(0);
            $("#ProductPriceTo").val(0);

            if ("@Model.Rating" != "" && "@Model.Rating"!="0") {
                $("#rating-@Model.Rating").attr('checked', true);
            }
        }

        function emptyMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function addMarker(locations) {
            emptyMarker();

            for (i = 0; i < locations.length; i++) {
                var location = locations[i];

                //console.info(location);
                var myLatLng = { lat: parseFloat(location.Latitude), lng: parseFloat(location.Longitude) };

                var div = document.createElement("div");
                div.id="marker_"+location.ProductId;
                div.className="marker_tooltip"
                div.title=location.LocationName;
                div.onclick = function(){
                    ShowProductInfoDialog(this.id.split("_")[1]);
                }
                div.onmouseover = function(){
                    activeMarkerPoint(this.id.split("_")[1]);
                }
                div.innerHTML=location.ProductPriceCurrency+" "+location.CurrencyCode;

                popup = new Popup(new google.maps.LatLng(parseFloat(location.Latitude), parseFloat(location.Longitude)),div);
                popup.setMap(googlemap);

                markers.push(popup);
                if (!fixedCenter) {
                    fixedCenter = true;
                    googlemap.setCenter(myLatLng);
                }
            }
        }

        function SearchSuggestion(query) {
            var url = "@Url.Content("~/Suggestion/Search?text=")" + query;
        ajaxUrlRequest(url, SearchSuggestionResponse);
    }

    function SearchSuggestionResponse(result) {
        if (result.StatusCode == "0") {
            var data = result.JsonData;

            var template = document.getElementById("suggestion-template").innerHTML;
            var appendText = "";
            for (i = 0; i < data.length; i++) {
                var suggest = data[i];

                rowText = template;
                rowText = rowText.replace(/@@suggestion.SuggestImage/g, suggest.SuggestImage);
                rowText = rowText.replace(/##suggestion.SearchSuggestionName/g, suggest.SearchSuggestionName);
                rowText = rowText.replace(/@@suggestion.TotalFound/g, suggest.TotalFound);
                rowText = rowText.replace(/@@suggestion.Index/g, (i + 1));

                appendText += rowText;
            }

            if (appendText.length > 0) {
                $(".instant-results").fadeIn('500');
                document.getElementById("ul-suggestion").innerHTML = appendText;
            } else {
                $(".instant-results").fadeOut('500');
            }
        }
    }
    </script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      /* The location pointed to by the popup tip. */
      .popup-tip-anchor {
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }
      /* The bubble is anchored above the tip. */
      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* Draw the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid #54c4c8;
      }
      /* The popup bubble itself. */
      .popup-bubble-content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the info window. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        border:3px solid #54c4c8;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
        cursor:pointer;
      }
    </style>