﻿@model Library.Winplus.syslib.customize.adezy.search.AdezySearch
@{
    Layout = "~/Views/_include/_LayoutMain.cshtml";
}


<style>
    .product-imitation:hover {
        cursor:pointer;
    }
</style>
@Html.Partial("~/Views/_include/_dlgProductInfo.cshtml")
<h2>@MyResources.Winplus.Resource.PleaseEnterSearchCondition</h2>

<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="status">@MyResources.Winplus.Resource.ProductCategory</label>
                @Html.DropDownListFor(model=>model.ProductCategoryId,Model.GetSelectedItems("ProductCategory", Model.ProductCategoryId,""), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="product_name">@MyResources.Winplus.Resource.AdLocation</label>
                @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-2">
            <label class="control-label" for="BeginAdvDateText">@MyResources.Winplus.Resource.SearchFromDate</label>
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                @Html.TextBoxFor(model => model.BeginAdvDateText, new { @class = "form-control" , @style="width:120px;" })
            </div>
        </div>
        <div class="col-sm-2">
            <label class="control-label" for="EndAdvDateText">@MyResources.Winplus.Resource.SearchToDate</label>
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                @Html.TextBoxFor(model => model.EndAdvDateText, new { @class = "form-control" , @style="width:120px;" })
            </div>
        </div>
            
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label" for="status">&nbsp;</label>
                <input type="button" class="btn btn-secondary block full-width m-b" onclick="javascript: SearchClick();" value="Search"/>
            </div>
        </div>

    </div>
</div>


<div id="search-result" class="col-sm-12">
</div>
<div id="search-navigate" class="col-sm-12">
</div>

<script>
    function GotoShoppingCart() {
        location.href = "@Url.Content("~/ShoppingCart")";
    }

    function SearchClick() {
        adezySearch.Filter = "";
        var ProductCategoryId = $("#ProductCategoryId").val();
        if (ProductCategoryId != "") {
            adezySearch.Filter += "&ProductCategoryId=" + ProductCategoryId;
        }
        var SearchText = $("#SearchText").val();
        if (SearchText != "") {
            adezySearch.Filter += "&SearchText=" + SearchText;
        }

        var BeginAdvDateText = $("#BeginAdvDateText").val();
        if (BeginAdvDateText != "") {
            adezySearch.Filter += "&BeginAdvDateText=" + BeginAdvDateText;
        }

        var EndAdvDateText = $("#EndAdvDateText").val();
        if (EndAdvDateText != "") {
            adezySearch.Filter += "&EndAdvDateText=" + EndAdvDateText;
        }


        adezySearch.NextPage(0, SearchCallBack);
    }

    function SearchCallBack(result) {
        // Draw result
        if (result.StatusCode == "0") {
            adezySearch.ParseResult(result.JsonData);
            DrawSearchResult(adezySearch);
        } else {
            alert(result.Message);
        }
    }

    function DrawSearchResult(searcher) {
        var searchArea = document.getElementById("search-result");
        searchArea.innerHTML = "";

        var Products = searcher.SearchResults['Products'];
        var fullHtmlText = "";
        for (i = 0; i < Products.length; i++) {
            var result = Products[i];

            var htmlText ="<div class=\"col-md-3\">"
                            + "<div class=\"ibox\">"
                                + "<div class=\"ibox-content product-box\">"
                                    + "<div onclick=\"location.href='@@ProductLink'\" class=\"product-imitation\" style=\"background-image: url('@@ProductImage');background-size: cover\">"
                                   + " </div>"
                                    + "<div class=\"product-desc\">"
                                       + " <span class=\"product-price\">"
                                       + " @@ProductPrice @@CurrencyCode"
                                        + "</span>"
                                        + "<a href=\"@@ProductLink\" class=\"product-name\"> @@ProductName</a>"
                                        + "<div class=\"small m-t-xs\">"
                                        + "@@ProductShortDetail"
                                        + "</div>"
                                        + "<div class=\"m-t text-righ\">"
                                            + "<a href=\"@@ProductLink\" class=\"btn btn-xs btn-outline btn-white\">Info <i class=\"fa fa-long-arrow-right\"></i> </a>"
                                        + "</div>"
                                    + "</div>"
                                + "</div>"
                            + "</div>"
                        + "</div>";
            htmlText = Replacher(htmlText, result);

            fullHtmlText = fullHtmlText + htmlText;
        }
        searchArea.innerHTML = fullHtmlText;

        var nav = document.getElementById("search-navigate");
        nav.innerHTML = "";

        var linkPrevious = document.createElement("a");
        if (searcher.Page<1) {
            linkPrevious.href = "javascript:void(0)";
        } else {
            linkPrevious.href = "javascript:" + searcher.VariableName + ".NextPage(" + (searcher.Page - 1) + "," + searcher.CallBackName + ")";
        }
        
        linkPrevious.className = "nav-link";
        linkPrevious.innerHTML = "Previous";
        nav.appendChild(linkPrevious);

        for (i = 0; i < searcher.TotalPage; i++) {

            if (i >= searcher.ShowPageFrom && i <= searcher.ShowPageTo) {

                var link = document.createElement("a");
                link.href = "javascript:" + searcher.VariableName + ".NextPage(" + i + "," + searcher.CallBackName + ")";
                if (searcher.Page == i) {
                    link.className = "nav-link-selected";
                } else {
                    link.className = "nav-link";
                }
                link.innerHTML = (i + 1);

                nav.appendChild(link);
                
            }
        }

        var linkNext = document.createElement("a");
        if ((searcher.Page + 1) >= searcher.TotalPage) {
            linkNext.href = "javascript:void(0)";
        } else {
            linkNext.href = "javascript:" + searcher.VariableName + ".NextPage(" + (searcher.Page + 1) + "," + searcher.CallBackName + ")";
        }
        linkNext.className = "nav-link";
        linkNext.innerHTML = "Next";
        nav.appendChild(linkNext);

        var label = document.createElement("label");
        label.innerText = "จากการค้นหา " + searcher.TotalRecords + " รายการ";
        nav.appendChild(label);

        addMarker(searcher.SearchResults["Locations"]);
    }

    var adezySearch = new AdezySearch();
    adezySearch.Lpp = 9;
    adezySearch.SearchUrl = "@Url.Content("~/Adezy/Search")";
    adezySearch.VariableName = "adezySearch";
    adezySearch.CallBackName = "SearchCallBack";
    adezySearch.ApplyFilter = function () {
        this.Filter = "";
    }

    bindingStandardField();
</script>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGetCtzrwrJN1CjT4RQz5b4mOJXRiE_bQ"></script>
<div class="row">
    <div class="col-md-6">
        <div class="google-map" id="googlemap"></div>
    </div>
</div>

    <script type="text/javascript">
        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);
        var googlemap;
        var markers = [];

        function init() {
            try{
                // Options for Google map
                // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(13.759342, 100.617802),
                    // Style for Google Maps
                    styles: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }]
                };

                // Get all html elements for map
                var mapElement = document.getElementById('googlemap');

                // Create the Google Map using elements
                googlemap = new google.maps.Map(mapElement, mapOptions);

                adezySearch.NextPage(0, SearchCallBack);

            } catch (e) {
                alert("init Error->" + e);
            }
        }
        function emptyMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function addMarker(locations) {
            emptyMarker();
            for (i = 0; i < locations.length; i++) {
                var location = locations[i];
                var myLatLng = { lat: parseFloat(location.Latitude), lng: parseFloat(location.Longitude) };

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: googlemap,
                    title: location.LocationName,
                    id:location.ProductId
                });
                console.log('Id:' + location.ProductId);
                marker.addListener('click', function () {
                    ShowProductInfoDialog(this.id);
                });

                //google.maps.event.addListener(marker, 'click', function () { alert('Id:'+location.ProductId); });
                markers.push(marker);
            }
        }
    </script>