﻿@model Library.Winplus.syslib.customize.shoppingcart.model.ShoppingCart
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}
<div class="site-content">
  <div class="main-content container">
    <div class="row form-group">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
          <li class="disabled li-canpick" onclick="javascript:location.href='@Url.Content("~/ShoppingCart")'">
            <p class="list-group-item-text">1. @MyResources.Winplus.Resource.BookingInfo</p>
          </li>
          <li class="active li-canpick" onclick="javascript:location.href='@Url.Content("~/Payment/Select")'">
            <p class="list-group-item-text">2. @MyResources.Winplus.Resource.Payment</p>
          </li>
          <li class="disabled">
            <p class="list-group-item-text">3. @MyResources.Winplus.Resource.BookingCompleted</p>
          </li>
        </ul>
      </div>
    </div>
          <div class="row">
      <div class="col-xs-12">
        <h1 class="main-title">@MyResources.Winplus.Resource.PaymentMethod</h1>
      </div>
      <div class="col-xs-12">
        <div class="box-content" style="background-color:white;">


      <div class="row">
<div class="col-sm-7">
    <form id="PaymentForm" method="post" action="@Url.Content("~/Payment/BeginPayment")" onsubmit="ajaxSubmitForm(event,this,'btn-payment',CallBackBeginPayment)">
        <input type="submit" value="submit" id="submit-payment" style="width:0px;height:0px;border:none;background-color:white;" />
         @Html.HiddenFor(model=>model.SaleTransaction.SaleTransactionId)
        <div class="row">
@*            @foreach (Library.Winplus.syslib.standard.paymentcategory.model.PaymentCategory category in Model.AvailablePayment)
            {
                <h3>@(category.PaymentCategoryName)</h3>
                <div class="row">
                    @foreach (Library.Winplus.syslib.standard.paymenttype.model.PaymentType payment in category.PaymentTypes)
                    {
                        <div class="col-sm-4 i-checks" style="padding:10px;"><label><input type="radio" name="Payment.PaymentTypeId" value="@payment.PaymentTypeId"><img src="@Url.Content("~/Resource/img/banklogo/"+payment.TypeCode+".png")" style="margin-left:10px;"/></label></div>
                    }
                </div>
                <br />
            }*@
            <div class="row">
                <div class="col-sm-8" style="margin-left:30px;background-color:#F1F1F1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>CARD NUMBER</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model=>model.Payment.CreditCardNumber, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Payment.CreditCardNumber)})
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label>EXPIRATION DATE</label>
                                @Html.TextBoxFor(model=>model.Payment.CreditCardMonthYear, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Payment.CreditCardMonthYear)})
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label>CV CODE</label>
                                @Html.TextBoxFor(model=>model.Payment.CreditCardCVV, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Payment.CreditCardCVV)})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>NAME OF CARD</label>
                                @Html.TextBoxFor(model=>model.Payment.CreditCardHolder, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Payment.CreditCardHolder)})
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-3">
    <div id="div-cart-summary" style="margin-top:63px;">
        @{
            Model.Page = "Summary";
        }
        @Html.Partial("~/Views/customize/ShoppingCartSummary.cshtml", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

    function BeginPayment() {
        document.getElementById("submit-payment").click();
    }

    function CallBackBeginPayment(result) {
        if (result.StatusCode == "0") {
            location.href = "@Url.Content("~/Payment/Confirm/")" + result.JsonData.SaleTransactionId;
        } else {
            alert(result.Message);
        }
    }
    
    function GotoShoppingCart() {
        var url = "@Url.Content("~/ShoppingCart/UnBookingTransaction")";
        ajaxUrlRequest(url, CallBackUnBookingTransaction);
    }

    function CallBackUnBookingTransaction(result) {
        if (result.StatusCode == "0") {
            location.href = "@Url.Content("~/ShoppingCart")";
         } else {
             alert(result.Message);
         }
    }

</script>

          </div>
      </div>
    </div>
          </div>
      </div>
    </div>