﻿@model Library.Winplus.syslib.customize.shoppingcart.model.ShoppingCart
@{
    Library.Winplus.syslib.customize.logincustomer.model.LoginCustomer loginCustomer = new Library.Winplus.syslib.customize.logincustomer.repository.LoginCustomerRepository().FindByTokenId(Request, Session.SessionID);
}

<div class="box-content box-total">
    <table class="table-total">
    <tbody>
        <tr>
            <td>@MyResources.Winplus.Resource.TotalPrice</td>
            <td class="align-right">
              @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(@Model.SaleTransaction.TotalPrice) @loginCustomer.Currency.CurrencyCode
            </td>
        </tr>
        <tr>
            <td>@MyResources.Winplus.Resource.TotalVat</td>
            <td class="align-right">
                @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(@Model.SaleTransaction.TotalVat) @loginCustomer.Currency.CurrencyCode
            </td>
        </tr>
        <tr>
            <td>@MyResources.Winplus.Resource.TotalLabelVat</td>
            <td class="align-right">
                @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(@Model.SaleTransaction.TotalLabelVat) @loginCustomer.Currency.CurrencyCode
            </td>
        </tr>
        <tr>
            <td>@MyResources.Winplus.Resource.Discount</td>
            <td class="align-right">
                @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(@Model.SaleTransaction.TotalDiscount) @loginCustomer.Currency.CurrencyCode
            </td>
        </tr>
        <tr>
            <td>@MyResources.Winplus.Resource.NetPrice</td>
            <td class="align-right">
                @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(@Model.SaleTransaction.NetPrice) @loginCustomer.Currency.CurrencyCode
            </td>
        </tr>
    </tbody>
    </table>
    <hr/>
    <div class="row">
        @if(Model.Page=="Cart"){
            <div class="col-xs-12">
                <a href="javascript:GotoContinueShopping();">@MyResources.Winplus.Resource.SearchMore</a>
            </div>
            <div class="col-xs-12">
                <button type="button" onclick="javascript:GotoCheckout();" class="btn btn-submit btn-full">@MyResources.Winplus.Resource.Checkout</button>
            </div>
        }
        else{
            <div class="col-xs-12">
                <a href="javascript:GotoShoppingCart();">@MyResources.Winplus.Resource.GotoCart</a>
            </div>
            <div class="col-xs-12">
                <button type="button" onclick="javascript:BeginPayment();" class="btn btn-submit btn-full">@MyResources.Winplus.Resource.Confirm</button>
            </div>
        }
    </div>
</div>