﻿@model Library.Winplus.syslib.customize.shoppingcart.model.ShoppingCart
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";
}
<div class="site-content">
  <div class="main-content container">
    <div class="row form-group">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
          <li class="active li-canpick" onclick="javascript:location.href='@Url.Content("~/ShoppingCart")'">
            <p class="list-group-item-text">1. @MyResources.Winplus.Resource.BookingInfo</p>
          </li>
          <li class="disabled li-canpick" onclick="javascript:location.href='@Url.Content("~/Payment/Select")'">
            <p class="list-group-item-text">2. @MyResources.Winplus.Resource.Payment</p>
          </li>
          <li class="disabled">
            <p class="list-group-item-text">3. @MyResources.Winplus.Resource.BookingCompleted</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
        @Html.Partial("~/Views/customize/ShoppingCartList.cshtml", Model)
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .site-content -->


<script>
    function GotoCheckout() {
        var url = "@Url.Content("~/ShoppingCart/BookingTransaction")";
        ajaxUrlRequest(url, CallBackCheckout);
    }

    function CallBackCheckout(result) {
        if (result.StatusCode == "0") {
            location.href = "@Url.Content("~/Payment/Select")";
        } else if (result.Message == "AuthenFail") {
            location.href = "@Url.Content("~/Login?RedirectUrl="+HttpUtility.UrlEncode("~/ShoppingCart"))";
        } else {
            alert(result.Message);
        }
    }

    function GotoContinueShopping() {
        location.href = "@Url.Content("~/Home")";
    }

    var submit_callback;

    function EditCardProduct(formId, btnId) {
        try {
            submit_callback = CartUpdateCallBack;
            var form = document.getElementById(formId);
            form.action = "@Url.Content("~/ShoppingCart/EditCart")";
            document.getElementById(btnId).click();
        } catch (e) {
            alert("EditCardProduct Error->" + e);
        }
    }

    function DeleteCardProduct(formId, btnId) {
        try{
            submit_callback = CartListCallBack;
            var form = document.getElementById(formId);
            form.action = "@Url.Content("~/ShoppingCart/DeleteCartProduct")";
            document.getElementById(btnId).click();
        } catch (e) {
            alert("DeleteCardProduct Error->" + e);
        }
    }


    //url, targetElement, callBackMethod
    function CartUpdateCallBack(result, status) {
        if (result.StatusCode == "0") {
            @* var url = "@Url.Content("~/ShoppingCart/CartSummary")";
            ajaxPartialLoad(url, "div_shopping_cart", CallBackInitialCartList);*@
            location.href = "@Url.Content("~/ShoppingCart")";
        } else {
            alert(result.Message);
        }
    }

    //url, targetElement, callBackMethod
    function CartListCallBack(result, status) {
        if (result.StatusCode == "0") {
            //var url = "@Url.Content("~/ShoppingCart/CartList")";
            //ajaxPartialLoad(url, "div_shopping_cart", CallBackInitialCartList);
            location.href = "@Url.Content("~/ShoppingCart")";
        } else {
            alert(result.Message);
        }
    }


    function CallBackInitialCartList(data) {

    }

</script>