﻿@model Library.Winplus.syslib.customize.shoppingcart.model.ShoppingCart
@{
    Library.Winplus.syslib.customize.logincustomer.model.LoginCustomer loginCustomer = new Library.Winplus.syslib.customize.logincustomer.repository.LoginCustomerRepository().FindByTokenId(Request, Session.SessionID);
}

      <div class="col-xs-12">
        <h1 class="main-title">ข้อมูลการจอง</h1>
      </div>
      <div class="col-xs-12 col-md-8">

          
@foreach (Library.Winplus.syslib.standard.saleproduct.model.SaleProduct product in Model.Products)
{ 

        <div class="box-content item-booking">
            <form id="form-cart-product-@product.ProductId" action="@Url.Content("~/ShoppingCart/EditCart")" method="post" onsubmit="ajaxSubmitForm(event,this,null,submit_callback)">
            <input id="btn-cart-product-@product.ProductId" type="submit" style="display:none;"/>
            @Html.Hidden("ProductId",product.ProductId)
            @Html.Hidden("ProductPricePeriodTypeId",product.ProductPricePeriodTypeId)
          <div class="row">
            <div class="col-xs-12 col-sm-4 thumb">
                <div class="cart-product-imitation" style="background-image: url('@Url.Content("~/Image/Show/"+product.MainImageNo)');background-size: cover;width:200px;height:200px;margin-top:50px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <h3>@product.SaleProductName</h3>
              <table>
                <tbody>
                  <tr>
                    <td>@MyResources.Winplus.Resource.Location</td>
                    <td> @product.LocationSearch</td>
                  </tr>
                  <tr>
                    <td>@MyResources.Winplus.Resource.Size</td>
                    <td>@product.SizeInfo</td>
                  </tr>
                  <tr>
                    <td>@MyResources.Winplus.Resource.BeginAdvDate</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.TextBox("BeginAdvDateText",product.BeginAdvDateText, new { @class = "form-control" , @style="width:120px;" })
                                </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>@MyResources.Winplus.Resource.EndAdvDate</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.TextBox("EndAdvDateText",product.EndAdvDateText, new { @class = "form-control" , @style="width:120px;" })
                                </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>@MyResources.Winplus.Resource.Price</td>
                    <td>@Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(product.MonthlyPrice) @loginCustomer.Currency.CurrencyCode / @MyResources.Winplus.Resource.Month</td>
                  </tr>
                    @if(product.VatLabelTypeId==2){
                      <tr>
                        <td>@MyResources.Winplus.Resource.LabelVat</td>
                        <td>@Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(product.LabelVat) @loginCustomer.Currency.CurrencyCode / @MyResources.Winplus.Resource.Month</td>
                      </tr>
                    }
                  <tr>
                    <td>@MyResources.Winplus.Resource.Quantity</td>
                    <td>@Library.Winplus.syslib.core.util.StringUtil.FormatInt(product.TotalMonth) @MyResources.Winplus.Resource.Month</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <div class="m-t-sm">
                            <a href="javascript:EditCardProduct('form-cart-product-@product.ProductId','btn-cart-product-@product.ProductId');" class="text-muted"><i class="fa fa-gift"></i> Update cart</a>
                            |
                            <a href="javascript:DeleteCardProduct('form-cart-product-@product.ProductId','btn-cart-product-@product.ProductId');" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="total">
                @MyResources.Winplus.Resource.TotalPrice @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(product.TotalPrice+product.TotalLabelVat) บาท
              </div>
            </div>
          </div>
    </form>
        </div>
    
}

      </div>
      <div class="col-xs-12 col-md-4" id="div_shopping_cart">
          
         @Html.Partial("~/Views/customize/ShoppingCartSummary.cshtml", Model)
      </div>



<script>
    bindingStandardField();
</script>