﻿@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct

<div class="modal inmodal" id="modal-product-visibleposition" tabindex="-1" role="dialog"  aria-hidden="true" style="z-index:100000;">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@MyResources.Winplus.Resource.VisiblePosition</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div style="padding:2px;background-color:white;">
                        <img src="@Url.Content("~/Image/Show/"+Model.Product.VisiblePosition)" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function ShowVisiblePositionDialog() {
        try{
            $('#modal-product-visibleposition').modal('show');
        } catch (e) {
            alert("ShowVisiblePositionDialog Error->" + e);
        }
    }

</script>
