﻿@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct
@{
    Layout = "~/Views/_include/_AdezyLayout.cshtml";

    Library.Winplus.syslib.customize.logincustomer.model.LoginCustomer loginCustomer = new Library.Winplus.syslib.customize.logincustomer.repository.LoginCustomerRepository().FindByTokenId(Request, Session.SessionID);

    var loc = new Library.Winplus.syslib.customize.helper.service.LocaleStringResourceService();
}

@Html.Partial("~/Views/customize/ShowProductMapDlg.cshtml", Model)
@Html.Partial("~/Views/customize/ShowVisiblePositionDlg.cshtml", Model)
<div class="site-content">
  <div class="main-content container">
    <div class="row">
      <div class="col-xs-12 ad-detail">
        <div class="ad-header">
          <h1 class="main-title">@Model.Product.ProductName</h1>
            <div class="box-rating">
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.Product.ScoreId)
                    {
                        <i class="fa fa-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star-o"></i>
                    }
                }
            </div>
          <p class="detail">@MyResources.Winplus.Resource.BillBoard : @Model.Product.ProductShortDetail</p>
        </div><!-- .ad-header -->
        <div class="row">
            <div class="col-sm-12">
            <div class="product-images" style="">
                @foreach (Library.Winplus.syslib.standard.documentupload.model.DocumentUpload img in Model.Images)
                {
                    <div>
                        <div class="image-imitation" style="background-image: url('@Url.Content("~/Image/Show/" + img.DocumentNo)');background-size: cover;background-repeat:no-repeat;background-position:left center;width:100%;height:400px;"></div>
                    </div>
                }
            </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <table class="table-ad-detail">
              <tbody>
                <tr>
                  <td>@MyResources.Winplus.Resource.Location</td>
                  <td>@Model.Product.LocationSearch 
                      <a href="javascript:ShowProductMapDialog();">@MyResources.Winplus.Resource.Map</a>
                     
                          
                  </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Product.VisiblePosition))
                {
                <tr>
                    <td></td>
                    <td><a href="javascript:ShowVisiblePositionDialog();">@MyResources.Winplus.Resource.VisiblePosition</a></td>
                </tr>
                }
                @if (Model.LstAvailableDate != null && Model.LstAvailableDate.Count > 0)
                {
                    <tr>
                        <td style="vertical-align:text-top;">@MyResources.Winplus.Resource.LstAvailableDate &nbsp;</td>
                        <td>
                            @{
                    foreach (string available in Model.LstAvailableDate)
                    {
                                    <i class="fa fa-check-circle"></i> @available<br/>
                    }
                            }
                        </td>
                    </tr>
                }

                @if (!string.IsNullOrEmpty(Model.Product.SizeInfo))
                {
                    <tr>
                      <td>@MyResources.Winplus.Resource.Size</td>
                      <td>@Model.Product.SizeInfo</td>
                    </tr>
                }

                @{
                    var TagCategories = Model.Product.GetTagCategory(Model.ProductId, false);
                }

                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                @foreach (var category in TagCategories)
                {
                    if (category.TagDetails.Count > 0)
                    {
                        <tr>
                            <td style="vertical-align:text-top;">@loc.Resource(category.ResourceString) &nbsp;</td>
                            <td>
                                @{
                        var lstTag = category.TagDetails;
                        foreach (var tag in lstTag)
                        {
                                        <i class="fa fa-check-square"></i> @loc.Resource(tag.ResourceString)<br/>
                        }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    }
                }

                <tr>
                  <td>@MyResources.Winplus.Resource.Resolution</td>
                  <td>@Model.Product.Resolution</td>
                </tr>
                <tr>
                  <td>@MyResources.Winplus.Resource.ExtraFunction</td>
                  <td>@Model.Product.ExtraFunction</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="box-content box-booking">
               <form id="Form-AddToCart" action="@Url.Content("~/ShoppingCart/AddToCart")" method="post" onsubmit="ajaxSubmitForm(event,this,btnSubmit,AddToCartCallBack)">
                  @Html.HiddenFor(model => model.ProductId)
                  @Html.HiddenFor(model => model.ProductPricePeriodTypeId)
                  @Html.HiddenFor(model => model.SubmitMethod)
                  @Html.HiddenFor(model => model.FirstAvailableDate)

                  <div class="row">
                          <div class="col-sm-4">
                              @MyResources.Winplus.Resource.Size
                          </div>
                          <div class="col-sm-8">
                              @Model.Product.SizeInfo &nbsp;
                          </div>
                          <div class="col-sm-4">
                              @MyResources.Winplus.Resource.Price
                          </div>
                          <div class="col-sm-8">
                              @Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(Model.Product.ProductPrice.Value) @loginCustomer.Currency.CurrencyCode / @MyResources.Winplus.Resource.Month
                          </div>
                      <div class="col-sm-4">
                          @MyResources.Winplus.Resource.SearchFromDate
                      </div>
                      <div class="col-sm-8">
                          <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.TextBoxFor(model => model.BeginAdvDateText, new { @class = "form-control", @style = "width:120px;", @onchangedate = "RefreshProduct();" })
                        </div>
                      </div>
                      <div class="col-sm-4">
                          @MyResources.Winplus.Resource.SearchToDate
                      </div>
                      <div class="col-sm-8">
                          <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.TextBoxFor(model => model.EndAdvDateText, new { @class = "form-control", @style = "width:120px;", @onchangedate = "RefreshProduct();" })
                        </div>
                      </div>
                      <div class="col-sm-4">
                              &nbsp;
                    </div>
                    <div class="col-sm-8" style="" id="total_price">
                        @MyResources.Winplus.Resource.TotalPrice @(Model.TotalPrice.HasValue ? Library.Winplus.syslib.core.util.StringUtil.FormatDecimal(Model.TotalPrice) : "-") @loginCustomer.Currency.CurrencyCode
                    </div>

                      <div class="col-sm-4">
                      </div>
                      <div class="col-sm-8">
                        <div class="btn-group" style="padding-top:10px;">
                            <input type="submit" id="SubmitFormRefresh" style="display:none;" />
                            <button onclick="$('#SubmitMethod').val('AddToCart');btnSubmit = 'btn-submit';" id="btn-submit" type="submit" class="btn btn-white btn-sm ladda-button" data-style="expand-left"><i class="fa fa-cart-plus"></i> @MyResources.Winplus.Resource.AddToCart</button>
                        </div>
                      </div>
                  </div>
              </form>
            </div><!-- .box-content -->
          </div>
        </div><!-- .row -->
      </div><!-- .ad-detail -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .site-content -->

<script>
    var btnSubmit = 'btn-submit';
    function RefreshProduct() {
        btnSubmit = null;
        $('#SubmitMethod').val('Refresh');
        document.getElementById("SubmitFormRefresh").click();
    }

    function AddToCartCallBack(result) {
        if (result.StatusCode == "0") {
            if (result.Message == "Refresh") {
                if (result.JsonData.TotalPrice != null) {
                    $("#total_price").html("@MyResources.Winplus.Resource.TotalPrice " + result.JsonData.TotalPrice + " @loginCustomer.Currency.CurrencyCode");
                }
            } else {
                GotoShoppingCart();
            }
        } else {
            alert(result.Message);
        }
    }

    function GotoShoppingCart() {
        location.href = "@Url.Content("~/ShoppingCart")";
    }

    function GotoContinueShopping() {
        location.href = "@Url.Content("~/Home")";
    }

    bindingStandardField();

    $('.product-images').slick({
        dots: true
    });


</script>
