﻿@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGetCtzrwrJN1CjT4RQz5b4mOJXRiE_bQ"></script>
<div class="modal inmodal" id="modal-product-map" tabindex="-1" role="dialog"  aria-hidden="true" style="z-index:100000;">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn" id="dlg-container-map">
            <div class="col-sm-12 google-map" id="googlemap" style="height:500px;"></div>
        </div>
    </div>
</div>
<script>

    var googlemap;

    function ShowProductMapDialog() {
        try{
            var mapOptions = {
                zoom: 11,
                styles: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }],
                fullscreenControl: false
            };

            // Get all html elements for map
            var mapElement = document.getElementById('googlemap');

            // Create the Google Map using elements
            googlemap = new google.maps.Map(mapElement, mapOptions);

            var myLatLng = { lat: parseFloat(@Model.Product.Latitude), lng: parseFloat(@Model.Product.Longitude) };

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: googlemap,
            });

            googlemap.setCenter(myLatLng);


            $('#modal-product-map').modal('show');
        } catch (e) {
            alert("ShowProductMapDialog Error->" + e);
        }
    }

</script>
